<template>	
    <div class="row">
        <div class="right-column sisu">
            <div class="row mx-0">
                <div class="col-md-7 order-md-2 signin-right-column px-5 bg-dark">
                    <a class="signin-logo d-sm-block d-md-none" href="#">
                        <img src="assets/img/logo-white.png" width="145" height="32.3" alt="QuillPro">
                    </a>
                    <h1 class="display-4">Econocompras</h1>
                    <p class="lead mb-5">
                        Olá, seja bem-vindo  
                    </p>
                </div>
                <div class="col-md-5 order-md-1 signin-left-column bg-white px-5">
                    <a class="signin-logo d-sm-none d-md-block"  style="margin-left: 10%;">
                        <img class="ml-5" src="assets/img/logo2T.png"  style="cursor:default"  width="150" height="92" alt="Econocompras">
                    </a>
                    <div if.bind="wasReseted">
                        <h2>Obrigado!</h2>        
                        <p class="mt-4">Você receberá um e-mail para redefinir a sua senha</p>
                    </div>   
                    <form if.bind="! wasReseted">
                        <div class="form-group">
                                <label>E-mail</label>
                                <input type="text" class="form-control" value.bind="email" placeholder="E-mail">
                        </div> 
                        <button type="submit" if.bind="! isLoading"  class="btn btn-primary btn-gradient btn-block waves-effect waves-light"  click.delegate="resetPassword()">
                            <i class="batch-icon batch-icon-key mr-2"></i>
                            Confirmar
                        </button>
                        <div class="fa-2x text-center" if.bind="isLoading" >
                            <i class="fa fa-refresh fa-spin"></i>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>