<template>	
		<div class="row">
			<div class="right-column sisu">
				<div class="row mx-0">
					<div class="col-md-7 order-md-2 signin-right-column px-5 bg-dark">
						<a class="signin-logo d-sm-block d-md-none" href="#">
							<img src="assets/img/logo-white.png" width="145" height="32.3" alt="QuillPro">
						</a>
						<h1 class="display-4">CSZ Compras Inteligentes</h1>
						<p class="lead mb-5">
							Olá, seja bem-vindo
						</p>
					</div>
					<div class="col-md-5 order-md-1 signin-left-column bg-white px-5">
						<a class="signin-logo d-sm-none d-md-block"  style="margin-left: 10%;">
							<img class="ml-5" src="assets/img/logo2T.png"  style="cursor:default"  width="150" height="92" alt="CSZ">
						</a>
						<form >
							<div class="form-group">
								<label for="exampleInputEmail1">Email</label>
								<input type="email" class="form-control" id="exampleInputEmail1" value.bind="credential.email" aria-describedby="emailHelp" placeholder="Enter email">								
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Senha</label>
								<input type="password" class="form-control" id="exampleInputPassword1" value.bind="credential.password" placeholder="Password">
							</div>
							<button type="submit" if.bind="! processing"  class="btn btn-primary btn-gradient btn-block waves-effect waves-light"  click.delegate="doLogin()">
								<i class="batch-icon batch-icon-key"></i>
								Login
							</button>
							<span if.bind="processing" class="badge badge-warning">Efetuando autenticação</span>
							<hr>
							<p class="text-center">
								Ainda não possui um usuário?<a href="sisu-signup.html"> Registre-se aqui</a>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>	    
</template>