<template>
    <require from="../../components/valueConverters/phoneWithDDDValueConverter"></require> 
    <require from="../../components/valueConverters/cellPhoneWithDDDValueConverter"></require>
	<require from="../../components/valueConverters/cnpjValueConverter"></require>
   <require from="../../components/valueConverters/cepValueConverter"></require>
   <require from="../../components/valueConverters/moneyValueConverter"></require>
   <require from="../../components/valueConverters/numberValueConverter"></require>
	<require from="../../components/valueConverters/inscricaoEstadualValueConverter"></require>
   <require from="../../components/attributes/cnpjMask"></require>
   <require from="../../components/attributes/cepMask"></require>
   <require from="../../components/attributes/numberMask"></require>
   <require from="../../components/attributes/moneyMask"></require>
    <require from="../../components/attributes/inscricaoEstadualMask"></require>

<div class="row mb-5 task-manager au-animate">
        <div class="col-lg-12"> 
              <div class="card">
                 <div class="card-header">          
                    Edição de fornecedor 
                 </div>    
                 <div class="card-body"> 
                     <div class="row mt-1 float-right">
                        <h5 class="mb-0 float-right">  
                           <span class="badge badge-warning float-right" if.bind="connection.reasonToReject">
                              Motivo da rejeição: ${connection.reasonToReject.description}
                           </span>
                        </h5>
                     </div>
                    <h4 class="mt-4">Dados básicos</h4>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Razão Social<span class="text-danger  ml-1 bold">*</span></label>
                                <input type="text" class="form-control "    value.bind="supplier.name"  disabled.bind="! edit"  />
                            </div>
                        </div>  
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Nome Fantasia<span class="text-danger  ml-1 bold">*</span></label>
                                <input type="text" class="form-control "    value.bind="supplier.fantasyName" disabled.bind="! edit"  />
                            </div>
                        </div>  
                    </div>  
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">CNPJ<span class="text-danger  ml-1 bold">*</span></label>
                                <input type="text" class="form-control "    value.bind="supplier.cnpj | cnpj  " cnpj disabled.bind="! edit"  />
                            </div>
                        </div>  
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Inscrição Estadual<span class="text-danger  ml-1 bold">*</span></label>
                                <input type="text" class="form-control  "   inscricaoEstadual  value.bind="supplier.inscricaoEstadual | inscricaoEstadual" disabled.bind="! edit"  />
                            </div>
                        </div>  
                    </div>                                                                                                                                                          
                    <h4 class="mt-4">Endereço</h4>       
                    <div class="row">
                        <div class="col-md-6">
                           <div class="form-group">
                              <label class="control-label">CEP</label>
                              <input type="text" class="form-control " cep value.bind="supplier.address.cep | cep"  change.delegate="consultaCEP()" disabled.bind="! edit"  />
                           </div>
                        </div>
                     </div>                                                                   
                    <div class="row mt-4">
                       <div class="col-md-6">
                          <div class="form-group">
                             <label class="control-label">Logradouro</label>
                             <input type="text" class="form-control "  value.bind="supplier.address.logradouro" disabled.bind="! edit" />
                          </div>
                          <div class="form-group">
                             <label class="control-label">Bairro</label>
                             <input type="text" class="form-control  " value.bind="supplier.address.neighborhood"  disabled.bind="! edit"  />
                          </div>
                          <div class="form-group">
                             <label class="control-label">Estado</label>
                             <input type="text"  class="form-control "  value.bind="supplier.address.state"  disabled.bind="! edit"  />
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="form-group">
                             <label class="control-label">Número</label>
                             <input type="text" class="form-control "  value.bind="supplier.address.number" disabled.bind="! edit"  />
                          </div>
                          <div class="form-group">
                             <label class="control-label">Complemento</label>
                             <input type="text"  class="form-control "  value.bind="supplier.address.complement" disabled.bind="! edit"  />
                          </div>
                          <div class="form-group">
                             <label class="control-label">Cidade</label>
                             <input type="text" class="form-control "  value.bind="supplier.address.city"  disabled.bind="! edit"    />
                          </div>
                       </div>
                    </div>                                                                                                                                                       
                    <h4 class="mt-4">Contato</h4>    
                    <div class="tab-pane">
                       <div class="row">
                          <div class="col-md-6">
                             <div class="form-group">
                                <label class="control-label">Nome</label>
                                <input type="text" class="form-control  ${validator.contactValidator.isNameInvalid  ? 'border-danger' : '' }" value.bind="supplier.contact.name"  change.delegate="validator.contactValidator.validateName()" disabled.bind="! edit"  />
                             </div>
                             <div class="form-group">
                                <label class="control-label">Telefone Comercial </label>
                                <input type="text" class="form-control " phone-with-ddd value.bind="supplier.contact.commercialPhone | phoneWithDDD"  disabled.bind="! edit" placeholder="(01) 1234-5678"/>
                             </div>
                             <div class="form-group">
                                <label class="control-label">E-mail</label>
                                <input type="text" class="form-control ${validator.contactValidator.isEmailInvalid  ? 'border-danger' : '' }  "  value.bind="supplier.contact.email" change.delegate="validator.contactValidator.validateEmail()" disabled.bind="! edit"  />
                             </div>
                          </div>
                          <div class="col-md-6">
                             <div class="form-group">
                                <label class="control-label">Telefone</label>
                                <input type="text" class="form-control ${validator.contactValidator.isPhoneInvalid  ? 'border-danger' : '' } " phone-with-ddd value.bind="supplier.contact.phone | phoneWithDDD"  change.delegate="validator.contactValidator.validatePhone()"  disabled.bind="! edit"  />
                             </div>
                             <div class="form-group">
                                <label class="control-label">Telefone Celular</label>
                                <input type="text" class="form-control "  cell-phone-with-ddd value.bind="supplier.contact.personalPhone | cellPhoneWithDDD" placeholder="(01) 01234-5678" disabled.bind="! edit"  />
                             </div>
                          </div>
                       </div>
                    </div>                                                                                                                                                       
                    <h4 class="mt-4" if.bind="false">Contrato Social</h4>   
                    <div class="tab-pane" id="tab3" if.bind="false">
                       <div class="row">
                          <div class="col-md-6"  if.bind="selectedFiles == null || selectedFiles.length == 0">
                             <div class="form-group">
								<button type="button" class="btn btn-primary waves-effect waves-light col-md-6" click.trigger="downloadSocialContract()">
									  <i class="batch-icon batch-icon-cloud-download"></i>
									  Download
								</button> 
                             </div>
                          </div>
                          <div class="col-md-6">
                             <div class="form-group">  
							   <form submit.delegate="uploadSocialContract()" if.bind="edit">
									 <button type="submit" if.bind="selectedFiles.length > 0" class="btn ${ ! isUploading ? 'btn-primary' : 'btn-warning'} waves-effect waves-light col-md-6" disable.bind="isUploading">
										   <span if.bind="! isUploading">
												 <i class="batch-icon batch-icon-cloud-upload"></i>
												 Upload
										   </span>
										   <span  if.bind="isUploading">
												 <i class="fa fa-circle-o-notch fa-spin"></i> Processando arquivo
										   </span>
									 </button>
									   <button type="button" class="btn btn-secondary   waves-effect waves-light"  if.bind="selectedFiles != null && selectedFiles.length > 0"  click.trigger="cancelUpload()">
                                 <i class="fa fa-undo mr-2"></i>Voltar
                              </button>    
                              <input id="files" type="file" accept=".pdf" files.bind="selectedFiles" class="${ isUploading || (selectedFiles != null && selectedFiles.length > 0) ? 'invisible' : ''} mt-4"> 
							   </form>  
                             </div>
                          </div>
                       </div>
                    </div>                                                                                                                                                             
                    <h4 class="mt-4" if.bind="edit">Financeiro</h4>       
                    <div class="row"  if.bind="edit">
                        <div class="col-md-2">
                           <div class="form-group">
                              <label class="control-label">Valor de comissão (%)</label>
                              <input type="text" class="form-control " cep value.bind="supplier.fee | money" money disabled.bind="! edit"  />
                           </div>
                        </div>
                     </div>     
                    <h4 class="mt-4"  if.bind="edit" >Treinamento</h4>   
                    <div class="tab-pane" if.bind="edit">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                               <label class="custom-control custom-checkbox ml-5">
                                  <span class="ml-2 mt-1">Essa conta é usada para treinamento?</span>
                                  <input type="checkbox" class="custom-control-input" checked.bind="supplier.isTrainingAccount"  change.trigger="changeList(list, x)">
                                  <span class="custom-control-indicator"></span> 
                               </label>
                              </div> 
                           </div> 
                        </div>
                    </div>                          
                    <h4 class="mt-4"  if.bind="edit" >Usuários</h4>       
                    <span class="badge badge-warning mt-2 mb-2" if.bind="supplier.status != 0 && edit">Para poder criar usuários faça a ativação do cadastro</span>                      
                    <div class="tab-pane" if.bind="supplier.status != 2 && edit">
                        <div class="row"> 
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Nome</th> 
                                        <th>E-mail</th>
                                        <th>Status</th> 
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr repeat.for="x of users">
                                        <td>
                                            <span if.bind="! x.isEditing">${x.name}</span> 
                                            <input type="text" class="form-control col-md-8" if.bind="x.isEditing" value.bind="x.name"/>
                                        </td> 
                                        <td>
                                            <span if.bind="! x.isEditing">${x.email}</span>
                                            <input type="text" class="form-control col-md-8" if.bind="x.isEditing" value.bind="x.email"/>
                                        </td>
                                        <td>  
                                            <span class="badge badge-success" if.bind="x.status == 0">Ativo</span>
                                            <span class="badge badge-danger" if.bind="x.status == 1">Inativo</span>
                                            <span class="badge badge-warning" if.bind="x.status == 2">Aguardando confirmação</span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm waves-effect waves-light"   if.bind="x.isEditing && supplier.status == 0"               click.trigger="saveEditUser(x)">Salvar</button>
                                            <button type="button" class="btn btn-primary btn-sm waves-effect waves-light"   if.bind="! x.isEditing  && supplier.status == 0"            click.trigger="editUser(x)">Editar</button>
                                            <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light"   if.bind="  x.isEditing  && supplier.status == 0"                                  click.trigger="cancelEditUser(x)">
                                                <i class="fa fa-undo mr-2"></i>Voltar
                                             </button>
                                            <button type="button" class="btn btn-danger btn-sm waves-effect waves-light"    if.bind="x.status == 0 && ! x.isEditing && supplier.status == 0"                    click.trigger="editUserStatus(x, 1)">Inativar</button>
                                            <button type="button" class="btn btn-success btn-sm waves-effect waves-light"   if.bind="x.status == 1 && ! x.isEditing  && supplier.status == 0"                   click.trigger="editUserStatus(x, 0)">Ativar</button>                                            
                                            <button type="button" class="btn btn-danger btn-sm waves-effect waves-light"    if.bind="x.status == 2  && !    x.isEditing  && supplier.status == 0"               click.trigger="resendInvite(x)">Reenviar convite</button>
                                        </td>
                                    </tr>
                                    <tr if.bind="supplier.status == 0" >
                                        <td>
                                            <input type="text" class="form-control col-md-8"  value.bind="user.name"/>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control col-md-8"  value.bind="user.email"/>
                                        </td>
                                        <td></td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm waves-effect waves-light"  click.trigger="createUser()">Criar</button>       
                                        </td>
                                    </tr>
                                </tbody>                                   
                            </table>   
                        </div>
                    </div>    
                 </div>
                 <div class="row mt-5 mb-5 mx-auto"  if.bind="edit"  >
                        <button type="button" class="btn btn-primary btn-gradient waves-effect waves-light" click.trigger="save()"><span class="gradient">Salvar</span></button>
                        <button type="button" class="btn btn-success  ml-2 waves-effect waves-light"       if.bind="supplier.status != 0"  click.trigger="editStatus(0)">Ativar</button>
                        <button type="button" class="btn btn-danger  ml-2 waves-effect waves-light"        if.bind="supplier.status == 0" click.trigger="editStatus(1)">Inativar</button>
                        <button type="button" class="btn btn-secondary ml-2 waves-effect waves-light"       click.trigger="cancel()">
                           <i class="fa fa-undo mr-2"></i>Voltar
                        </button>   
                 </div>
                 <div class="row mt-5 mb-5 mx-auto"  if.bind="! edit"  >
                        <button type="button" class="btn btn-secondary ml-2 waves-effect waves-light"       click.trigger="cancelView()">
                           <i class="fa fa-undo mr-2"></i>Voltar
                        </button>   
                 </div>
              </div>
           </div>
        </div> 
</template>
