<template>
    <require from="../../components/valueConverters/phoneWithDDDValueConverter"></require> 
    <require from="../../components/valueConverters/cellPhoneWithDDDValueConverter"></require>

<div class="row mb-5 task-manager au-animate">
        <div class="col-lg-12"> 
              <div class="card">
                 <div class="card-header">          
                    Edição de fornecedor
                 </div>    
                 <div class="card-body">                                                                                                                                                                  
                    <h4>Dados básicos</h4>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Razão Social<span class="text-danger  ml-1 bold">*</span></label>
                                <input type="text" class="form-control "    value.bind="supplier.name"  />
                            </div>
                        </div>  
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Nome Fantasia<span class="text-danger  ml-1 bold">*</span></label>
                                <input type="text" class="form-control "    value.bind="supplier.fantasyName"  />
                            </div>
                        </div>  
                    </div>  
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">CNPJ<span class="text-danger  ml-1 bold">*</span></label>
                                <input type="text" class="form-control "    value.bind="supplier.cnpj"  />
                            </div>
                        </div>  
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Inscrição Estadual<span class="text-danger  ml-1 bold">*</span></label>
                                <select class="form-control" value.bind="supplier.stateRegistration.id">
                                    <option  repeat.for="state of stateRegistrations" value.bind="state.id">${state.name}</option> 
                                 </select>
                            </div>
                        </div>  
                    </div>                                                                                                                                                          
                    <h4 class="mt-4">Endereço</h4>                                     
                    <div class="row mt-4">
                       <div class="col-md-6">
                          <div class="form-group">
                             <label class="control-label">Logradouro</label>
                             <input type="text" class="form-control "  value.bind="supplier.address.logradouro" />
                          </div>
                          <div class="form-group">
                             <label class="control-label">Bairro</label>
                             <input type="text" class="form-control  " value.bind="supplier.address.neighborhood"  />
                          </div>
                          <div class="form-group">
                             <label class="control-label">Estado</label>
                             <input type="text"  class="form-control "  value.bind="supplier.address.state"   />
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="form-group">
                             <label class="control-label">Número</label>
                             <input type="text" class="form-control "  value.bind="supplier.address.number"  />
                          </div>
                          <div class="form-group">
                             <label class="control-label">Cidade</label>
                             <input type="text" class="form-control "  value.bind="supplier.address.city"     />
                          </div>
                          <div class="form-group">
                             <label class="control-label">Complemento</label>
                             <input type="text"  class="form-control "  value.bind="supplier.address.complement" />
                          </div>
                       </div>
                    </div>                                                                                                                                                       
                    <h4 class="mt-4">Contato</h4>    
                    <div class="tab-pane">
                       <div class="row">
                          <div class="col-md-6">
                             <div class="form-group">
                                <label class="control-label">Nome</label>
                                <input type="text" class="form-control  ${validator.contactValidator.isNameInvalid  ? 'border-danger' : '' }" value.bind="supplier.contact.name"  change.delegate="validator.contactValidator.validateName()" />
                             </div>
                             <div class="form-group">
                                <label class="control-label">Telefone Comercial </label>
                                <input type="text" class="form-control " phone-with-ddd value.bind="supplier.contact.commercialPhone | phoneWithDDD"  placeholder="(01) 1234-5678"/>
                             </div>
                             <div class="form-group">
                                <label class="control-label">E-mail</label>
                                <input type="text" class="form-control ${validator.contactValidator.isEmailInvalid  ? 'border-danger' : '' }  "  value.bind="supplier.contact.email" change.delegate="validator.contactValidator.validateEmail()" />
                             </div>
                          </div>
                          <div class="col-md-6">
                             <div class="form-group">
                                <label class="control-label">Telefone</label>
                                <input type="text" class="form-control ${validator.contactValidator.isPhoneInvalid  ? 'border-danger' : '' } " phone-with-ddd value.bind="supplier.contact.phone | phoneWithDDD"  change.delegate="validator.contactValidator.validatePhone()"  />
                             </div>
                             <div class="form-group">
                                <label class="control-label">Telefone Celular</label>
                                <input type="text" class="form-control "  cell-phone-with-ddd value.bind="supplier.contact.personalPhone | cellPhoneWithDDD" placeholder="(01) 01234-5678"/>
                             </div>
                          </div>
                       </div>
                    </div>                                                                                                                                                       
                    <h4 class="mt-4">Contrato Social</h4>   
                    <div class="tab-pane" id="tab3">
                       <div class="row">
                          <div class="col-md-6"  if.bind="selectedFiles == null || selectedFiles.length == 0">
                             <div class="form-group">
								<button type="button" class="btn btn-primary waves-effect waves-light col-md-6" click.trigger="downloadSocialContract()">
									  <i class="batch-icon batch-icon-cloud-download"></i>
									  Download
								</button> 
                             </div>
                          </div>
                          <div class="col-md-6">
                             <div class="form-group">  
							   <form submit.delegate="uploadSocialContract()">
									 <button type="submit" if.bind="selectedFiles.length > 0" class="btn ${ ! isUploading ? 'btn-primary' : 'btn-warning'} waves-effect waves-light col-md-6" disable.bind="isUploading">
										   <span if.bind="! isUploading">
												 <i class="batch-icon batch-icon-cloud-upload"></i>
												 Upload
										   </span>
										   <span  if.bind="isUploading">
												 <i class="fa fa-circle-o-notch fa-spin"></i> Processando arquivo
										   </span>
									 </button>
                                     <button type="button" class="btn btn-secondary   waves-effect waves-light"  if.bind="selectedFiles != null && selectedFiles.length > 0"  click.trigger="cancelUpload()">Cancelar</button>    
                                     <input id="files" type="file" accept=".pdf" files.bind="selectedFiles" class="${ isUploading || (selectedFiles != null && selectedFiles.length > 0) ? 'invisible' : ''} mt-4"> 
							   </form>  
                             </div>
                          </div>
                       </div>
                    </div>           
                 </div>
                 <div class="row mt-5 mb-5 mx-auto">
                     <button type="button" class="btn btn-primary btn-gradient waves-effect waves-light"  click.trigger="save()"><span class="gradient">Salvar</span></button>
                     <button type="button" class="btn btn-secondary ml-5 waves-effect waves-light"   click.trigger="cancel()">Cancelar</button>   
                 </div>
              </div>
           </div>
        </div> 
</template>