<template>
    <require from="jquery-datetimepicker/jquery.datetimepicker.min.css"></require>
    <require from="../../components/valueConverters/phoneWithDDDValueConverter"></require> 
    <require from="../../components/valueConverters/cellPhoneWithDDDValueConverter"></require>
	<require from="../../components/valueConverters/cnpjValueConverter"></require>
    <require from="../../components/valueConverters/cepValueConverter"></require>
    <require from="../../components/valueConverters/numberValueConverter"></require>
    <require from="../../components/attributes/cnpjMask"></require>
    <require from="../../components/attributes/cepMask"></require>
    <require from="../../components/attributes/numberMask"></require> 
    <require from="../../components/attributes/datepicker"></require>
    <require from="../../components/valueConverters/dateFormatValueConverter"></require> 

    <div class="row mb-5 task-manager au-animate">
        <div class="col-lg-12"> 
              <div class="card">
                 <div class="card-header">          
                    <span if.bind="edit">Edição de serviço</span>
                    <span if.bind="! edit">${service.title}</span>
                 </div>    
                 <div class="card-body">   
                    <div class="row mt-4" if.bind="edit">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Expira em<span class="text-danger  ml-1 bold">*</span></label>
                                <input type="text" class="form-control text-right" autocomplete="off" placeholder="00/00/0000" value.bind="service.expiresOn | dateFormat" datepicker >
                            </div>
                        </div>   
                    </div>  
                    <div class="row mt-4">
                        <div class="col-md-6"> 
                            <div class="form-group">
                                <label class="control-label">Tipo de serviço<span class="text-danger  ml-1 bold">*</span></label>           
                                <select class="form-control "    value.bind="service.typeId & validate"  disabled.bind="! edit">
                                    <option  value=""></option> 
                                    <option  repeat.for="type of types" model.bind="type.id">${type.name}</option>
                                </select>
                            </div>
                        </div>    
                    </div>    
                    <div class="row mt-4" if.bind="edit">
                        <div class="col-md-6"> 
                            <div class="form-group">
                                <label class="control-label">Título<span class="text-danger  ml-1 bold">*</span></label>
                                <input type="text" class="form-control "    value.bind="service.title & validate" disabled.bind="! edit"  />
                            </div>
                        </div>    
                    </div>     
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Descrição<span class="text-danger  ml-1 bold">*</span></label>
                                <textarea class="form-control" value.bind="service.description & validate"  rows="2"  disabled.bind="! edit"></textarea>
                            </div>
                        </div>  
                    </div>    
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Endereço</label>
                                <input type="text" class="form-control "    value.bind="service.address" disabled.bind="! edit"  />
                            </div>
                        </div>  
                    </div>   
                    <div class="row mt-4">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Telefone</label>
                                <input type="text" class="form-control" phone-with-ddd  value.bind="service.phone | phoneWithDDD  & validate"  disabled.bind="! edit">
                            </div>
                        </div>  
                    </div>  
                    <div class="row mt-4">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Telefone celular</label>
                                <input type="text" class="form-control" phone-with-ddd  value.bind="service.mobilePhone | cellPhoneWithDDD" disabled.bind="! edit">
                            </div>
                        </div>  
                    </div>   
                    <div class="row mt-4">
                        <div class="col-md-6"> 
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input type="text" class="form-control" value.bind="service.email" disabled.bind="! edit">
                            </div>
                        </div>    
                    </div>    
                    <div class="row mt-4">
                        <div class="col-md-6"> 
                            <div class="form-group">
                                <label class="control-label">Site</label>
                                <input type="text" class="form-control" value.bind="service.site" disabled.bind="! edit">
                            </div>
                        </div>    
                    </div> 
              </div>
              <div class="row mt-5 mb-5 mx-auto text-center">
                <button type="button" class="btn btn-secondary ml-2 waves-effect waves-light" click.trigger="cancel()">
                    <i class="fa fa-undo mr-2"></i>Voltar
                </button>
                <button type="button" class="btn btn-primary btn-gradient waves-effect waves-light" if.bind="edit" click.trigger="save()">
                    <span class="gradient">Salvar</span>
                </button>
            </div> 
           </div>
        </div> 
    </div> 
</template>
