<template>
        <require from="../components/attributes/moneyMask"></require>
        <require from="../components/valueConverters/moneyValueConverter"></require>

        <div class="row mb-5">
           <div class="col-md-12">
              <div class="card">
                 <div class="card-header">
                    Cotação
                    <div class="progress">
                       <div class="progress-bar progress-bar-sm bg-gradient" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                 </div>
                 <div class="card-form-wizard">
                    <div class="row">
                       <div class="col-lg-12">
                          <div id="rootwizard-1">
                             <ul class="nav nav-pills">
                                <li>
                                   <a href="#tab1" data-toggle="tab">
                                   <span class="main-text">
                                   <span class="h3">1. Lista de Compras</span>
                                   </span>
                                   </a>
                                </li>
                                <li>
                                   <a href="#tab2" data-toggle="tab">
                                   <span class="main-text">
                                   <span class="h3">2. Cotações</span>
                                   </span>
                                   </a>
                                </li>
                                <li>
                                   <a href="#tab3" data-toggle="tab">
                                   <span class="main-text">
                                   <span class="h3">3. Pedido</span>
                                   </span>
                                   </a>
                                </li>
                             </ul>
                             <div class="tab-content clearfix">
                                <div class="tab-pane" id="tab1">
                                   <div class="row">
                                      <div class="col-md-12">
                                         <div class="form-group">
                                            <label class="control-label">Selecione a lista de compras</label>
                                            <select class="form-control " value.bind="buyList">
                                               <option  repeat.for="list of lists" model.bind="list">${list.name}</option>
                                            </select>
                                         </div>
                                      </div>
                                     <div class="col-md-12">
                                            <div class="card-table table-responsive">
                                                    <table class="table table-hover table-sm align-middle">
                                                       <thead>
                                                          <tr>
                                                             <th>Nome do produto</th>
                                                             <th>Categoria</th>
                                                             <th>UM</th>
                                                             <th>Marca</th>
                                                             <th>Quantidade</th>
                                                          </tr>
                                                       </thead>
                                                       <tbody>
                                                          <tr repeat.for="product of buyList.products">
                                                            <td><a href="#">${product.foodServiceProduct.product.name}</a></td>
                                                            <td><a href="#">${product.foodServiceProduct.product.category.name}</a>
                                                            <td><a href="#">${product.foodServiceProduct.product.unit.name}</a>                                                            
                                                            <td><a href="#">${product.foodServiceProduct.product.brand.name}</a>                                                                
                                                             <td class="text-center">
                                                                <form class="my-2 no-waves-effect">
                                                                   <div class="input-group short-input-field">
                                                                      <input type="text" class="form-control text-right" placeholder="Update Quantity" aria-label="Update Quantity" aria-describedby="update-quantity" value="3">
                                                                      <div class="input-group-append">
                                                                         <button class="btn btn-secondary waves-effect waves-light" type="button" data-toggle="tooltip" data-original-title="Update Item">
                                                                         <i class="batch-icon batch-icon-refresh"></i>
                                                                         </button>
                                                                         <button class="btn btn-secondary waves-effect waves-light" type="button" data-toggle="tooltip" data-original-title="Delete Item">
                                                                         <i class="batch-icon batch-icon-bin-alt-2"></i>
                                                                         </button>
                                                                      </div>
                                                                   </div>
                                                                </form>
                                                             </td>
                                                          </tr> 
                                                       </tbody>
                                                    </table>
                                                 </div>                                         
                                     </div>
                                   </div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                   <div class="row" if.bind="isProcessing">
                                      <div class="col-md-6">
                                         <div class="form-group">
                                            <span if.bind="processing" class="badge badge-warning">Efetuando cotação</span>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="col-md-12">
                                      <div id="accordion2" role="tablist" aria-multiselectable="true">
                                         <div class="" if.bind="! isProcessing" repeat.for="result of simulation.betterResults" >
                                            <div class="card-header ml-0" role="tab" id="result${result.id}">
                                               <h5 class="mb-0">
                                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse${result.id}" aria-expanded="false" aria-controls="collapse${result.id}" class="">
                                                    Simulação  ${$index + 1} 
                                                    <div class="text-right">${result.total  | money}</div>
                                                  </a>
                                               </h5>
                                            </div>
                                            <div id="collapse${result.id}" class="collapse" role="tabpanel" aria-labelledby="headingOne" style="">
                                               <div class="card-body"> 
                                                  <div class="col-md-12 card-table table-responsive">
                                                     <table class="table table-hover table-sm align-middle">
                                                        <thead>
                                                           <tr>
                                                              <th>Nome do Produto</th>
                                                              <th class="text-right">Preço unitário</th>
                                                              <th class="text-right">Quantidade</th>
                                                              <th class="text-right">Total</th>
                                                           </tr>
                                                        </thead>
                                                        <tbody>
                                                           <tr  repeat.for="item of result.items">
                                                              <td>
                                                                 ${item.product.name}
                                                                 <div>
                                                                    <small class="boldness-light">${item.supplier.name}</small>
                                                                 </div>
                                                              </td>
                                                              <td class="text-right">
                                                                 ${item.price | money}
                                                              </td>
                                                              <td class="text-right">
                                                                 ${item.quantity}
                                                              </td>
                                                              <td class="text-right">
                                                                 ${item.total  | money}
                                                              </td>
                                                           </tr>
                                                           <tr>
                                                              <td colspan="2" class="text-right">
                                                                 <strong>Total:</strong>
                                                              </td>
                                                              <td class="text-right">
                                                                 <strong>${result.total  | money}</strong>
                                                              </td>
                                                           </tr>
                                                        </tbody>
                                                     </table>
                                                  </div>
                                               </div>
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                                <div class="tab-pane" id="tab3">
                                </div>
                                <ul class="pager wizard mt-5">
                                   <li class="previous "><a href="#"  class="waves-effect waves-light" click.trigger="back()" if.bind="currentStep > 0 ">Voltar</a></li>
                                   <li class="next" if.bind="currentStep < totalSteps"><a href="#" class="waves-effect waves-light" click.trigger="advance()">Avançar</a></li>
                                   <li class="finish float-right" if.bind="currentStep == totalSteps" ><button type="button"  class="btn btn-primary btn-gradient assign-task waves-effect waves-light" click.trigger="save()"><span class="gradient">Salvar</span></button></li>
                                </ul>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </template>