<template> 
    <div class="row mb-5 task-manager au-animate">
       <div class="col-lg-12">
          <div class="card">
             <div class="card-header">
               Avaliações
             </div>
             <div class="card-body">  
               <p>O vídeo abaixo explica sobre o menu Cadastro</p>
               <video class="mt-5" src="assets/videos/guiaRapido/foodService/avaliacoes.mp4" controls style="width:980px;height:450px">
                    Your browser does not support the video tag.
               </video>
               <p class="display-6 mt-5">Todo pedido realizado pela plataforma deve ser avaliado pelo usuário via classificação por estrelas (de 1 a 5), onde também através de um campo texto, o foodservice pode colocar observações de como foi a entrega e qualidade dos produtos.<p> 
               <p>As avaliações realizadas para cada pedido e fornecedor é visualizada através do menu “Avaliações”.</p> 
               <img src="assets/img/guiaRapido/foodService/avaliacoes.png">
               <p class="mt-5">Através do botão “Detalhes”, verifica-se qual o fornecedor e o campo “Comentários".</p>
               
             </div>
             <div class="row mt-5 mb-5 mx-auto">  
                <button type="button" class="btn btn-secondary ml-2 waves-effect waves-light" click.trigger="back()">
                   <i class="fa fa-undo mr-2"></i>Voltar
                </button>   
            </div>
          </div>
       </div>
    </div> 
 </template>