<template> 
    <div class="row mb-5 task-manager au-animate">
       <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
                Regras de Entrega
            </div>
            <div class="card-body">  
                <p>O vídeo abaixo explica sobre o menu Regras de Entrega</p>
                <video class="mt-5" src="assets/videos/guiaRapido/foodService/regrasDeEntrega.mp4" controls style="width:980px;height:450px">
                    Your browser does not support the video tag.
                </video>
                <p class="mt-5">Esse menu permite ao usuário indicar aos fornecedores os dias da semana e os horários que pode receber produtos em seu estabelecimento.</p>
                <p>Essa informação é importante para o fornecedor criar uma melhor rota de entrega e garantir seus produtos no horário desejado.</p>
                <p>Para realizar essa configuração, basta selecionar um mercado e definir os dias de entrega e o período em horas que deseja receber os produtos específicos desse mercado.</p> 
                <p>Após configurar todos os mercados deve-se apertar o botão Salvar.</p>
                
                <img src="assets/img/guiaRapido/foodService/regrasDeEntrega.png" class="mt-3">
            </div>
            <div class="row mt-5 mb-5 mx-auto">  
               <button type="button" class="btn btn-secondary ml-2 waves-effect waves-light" click.trigger="back()">
                  <i class="fa fa-undo mr-2"></i>Voltar
               </button>   
           </div>
       </div>
    </div> 
 </template>