<template>
        <require from="../components/attributes/cnpjMask"></require>
        <require from="../components/attributes/phoneWithDDDMask"></require>        
        <require from="../admin/foodService/editFoodService"></require>

        <div class="row mb-5 task-manager au-animate"  if.bind="! showDetails">
           <div class="col-lg-12">
              <div class="card">
                 <div class="card-header">    
                    ${title}
                 </div>
                 <div class="card-body">
                    <form>
                       <div class="form-row align-items-center"> 
                            <div class="col-lg-3">
                               <label for="input-task-title" class="active">Filtro</label>           
                               <select class="form-control  "     value.bind="tipoFiltro" change.delegate="alterView()">
                                  <option value="0">Novos Clientes</option>
                                  <option value="1">Aguardando aprovação</option>
                                  <option value="2">Meus  Clientes</option>
                                  <option value="3">Clientes Bloqueados</option>
                               </select>
                            </div>
                          <div class="col-lg-3">
                             <label for="input-task-title" class="active">Nome do cliente</label>
                             <input type="text" class="form-control input-task-title" id="input-task-title" placeholder="nome..."  change.trigger="search()"   value.bind="filter"  />
                          </div>
                          <div class="col-lg-3 ml-4 mt-3 fa-2x text-center" if.bind="processing" >
                              <i class="fa fa-refresh fa-spin"></i>
                          </div> 
                          <div class="col-lg-3 ml-4 mt-3"  if.bind="! processing"  >
                             <button type="button" class="btn btn-primary btn-gradient assign-task waves-effect waves-light"><span class="gradient">Pesquisar</span></button>
                          </div>
                       </div>
                    </form>
                 </div>
                 <div class="card-body">
                    <table class="table table-hover">
                       <thead>
                          <tr>
                             <th>Nome do cliente</th>
                             <th>Situação Cadastral</th>
                             <th>Contato</th>
                             <th>E-mail</th>
                             <th>Telefone</th>
                             <th>CNPJ</th>
                             <th></th> 
                             <th></th>
                          </tr>
                       </thead>
                       <tbody>
                          <tr repeat.for="x of filteredFoodServices">
                             <td>${x.foodService.name}</td>
                             <td> 
                                <span class="badge badge-danger" if.bind="x.status == 1">Não cadastrado</span>
                                <span class="badge badge-success" if.bind="x.status == 2">Cadastrado</span>
                                <span class="badge badge-default" if.bind="x.status == 3">Rejeitado</span>
                                <span class="badge badge-default" if.bind="x.status == 4">Bloqueado</span>
                                <span class="badge badge-warning" if.bind="x.status == 5">Aguardando aprovação</span>
                             </td>
                             <td>${x.foodService.contact.name}</td>
                             <td>${x.foodService.contact.email}</td>
                             <td phone-with-ddd>${x.foodService.contact.phone}</td>
                             <td cnpj>${x.foodService.cnpj}</td>
                             <td>
                                <button type="button" class="btn btn-primary btn-sm waves-effect waves-light"  if.bind="x.status == 1 && ! x.isLoading" click.trigger="registrationSent(x)">Cadastro recebido</button>
                                <button type="button" class="btn btn-primary btn-sm waves-effect waves-light"  if.bind="(x.status == 5 || x.status == 3) && ! x.isLoading" click.trigger="approve(x)">Aprovar</button>
                                <button type="button" class="btn btn-danger btn-sm waves-effect waves-light"  if.bind="x.status == 5 && ! x.isLoading" click.trigger="reject(x)">Rejeitar</button>
                                <button type="button" class="btn btn-danger btn-sm waves-effect waves-light"  if.bind="x.status == 2 && ! x.isLoading" click.trigger="block(x)">Bloquear</button>                                
                                <button type="button" class="btn btn-success btn-sm waves-effect waves-light"  if.bind="x.status == 4 && ! x.isLoading" click.trigger="unblock(x)">Desbloquear</button>                                
                                
                                <button type="button" class="btn btn-primary btn-sm waves-effect waves-light"  click.trigger="showFoodServiceDetails(x)">
                                    Detalhes 
                                </button>
                             </td>
                             <td>
                                <div class="fa-2x text-center ${x.isLoading  == true ? '' : 'invisible'}">
                                    <i class="fa fa-refresh fa-spin"></i>
                                </div> 
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
        <div class=" ${ showDetails ? '' : 'invisible' }" class=" au-animate">
            <edit-food-service></edit-food-service>
        </div>
     </template>