<template>
  <require from="../components/attributes/moneyMask"></require>
  <require from="../components/valueConverters/moneyValueConverter"></require>
  <require from="../components/valueConverters/dateFormatValueConverter"></require>
  <div class="row mb-5 au-animate">
     <div class="col-md-12" if.bind="identity.registerStatus == RegisterStatus.Valid">
        <div class="row">
           <div class="col-md-6 col-lg-6 col-xl-3 mb-5">
              <div class="card card-tile card-xs bg-primary bg-gradient text-center">
                 <div class="card-body p-4">
                    <!-- Accepts .invisible: Makes the items. Use this only when you want to have an animation called on it later -->
                    <div class="tile-left">
                       <i class="batch-icon  batch-icon-users batch-icon-xxl"></i>
                    </div>
                    <div class="tile-right">
                       <div class="tile-number">
                          <i class="fa fa-refresh fa-spin" if.bind="isLoadingNumberOfCustomers"></i>
                          <span  if.bind="! isLoadingNumberOfCustomers">${numberOfCustomers.count}</span>
                       </div>
                       <div class="tile-description">Clientes cadastrados</div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-md-6 col-lg-6 col-xl-3 mb-5">
              <div class="card card-tile card-xs bg-secondary bg-gradient text-center">
                 <div class="card-body p-4">
                    <div class="tile-left">
                       <i class="batch-icon batch-icon-tag-alt-2 batch-icon-xxl"></i>
                    </div>
                    <div class="tile-right">
                       <div class="tile-number">
                          <i class="fa fa-refresh fa-spin" if.bind="isLoadingNumberOfOrders"></i>
                          <span  if.bind="! isLoadingNumberOfOrders">${numberOfOrders.total | money }</span>                                            
                       </div>
                       <div class="tile-description">Valor total dos pedidos</div>
                    </div>
                 </div>
              </div>
           </div>
           <!-- <div class="col-md-6 col-lg-6 col-xl-3 mb-5">
              <div class="card card-tile card-xs bg-primary bg-gradient text-center">
                  <div class="card-body p-4">
                      <div class="tile-left">
                          <i class="batch-icon batch-icon-list batch-icon-xxl"></i>
                      </div>
                      <div class="tile-right">
                          <div class="tile-number">26</div>
                          <div class="tile-description">Open Tickets</div>
                      </div>
                  </div>
              </div>
              </div> -->
           <div class="col-md-6 col-lg-6 col-xl-3 mb-5">
              <div class="card card-tile card-xs bg-secondary bg-gradient text-center">
                 <div class="card-body p-4">
                    <div class="tile-left">
                       <i class="batch-icon batch-icon-star batch-icon-xxl"></i>
                    </div>
                    <div class="tile-right">
                       <div class="tile-number">
                          <i class="fa fa-refresh fa-spin" if.bind="isLoadingNumberOfOrders"></i>
                          <span  if.bind="! isLoadingNumberOfOrders">${numberOfOrders.count}</span>
                       </div>
                       <div class="tile-description">Pedidos recebidos</div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="row">
           <div class="col-md-6 col-lg-6 col-xl-8 mb-5">
              <div class="card">
                 <div class="card-header">
                    Pedidos
                    <div class="header-btn-block">
                       <span class="data-range dropdown">
                          <a href="#" class="btn btn-primary dropdown-toggle waves-effect waves-light" id="navbar-dropdown-sales-overview-header-button" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
                          <i class="batch-icon batch-icon-calendar"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-sales-overview-header-button">
                             <a class="dropdown-item" href="#" click.trigger="loadOrdersValues(1)">Ano</a>
                             <a class="dropdown-item" href="#" click.trigger="loadOrdersValues(0)">Mês</a>
                             <a class="dropdown-item" href="#"  click.trigger="loadOrdersValues(2)">Início</a>
                          </div>
                       </span>
                    </div>
                 </div>
                 <div class="card-body">
                    <span class="fa-5x" style="position: absolute; top: 20%;left: 50%;" if.bind="! pedidosChart">
                    <i class="fa fa-refresh fa-spin"></i>
                    </span>
                    <div class="card-chart" data-chart-color-1="#07a7e3" data-chart-color-2="#32dac3" data-chart-legend-1="Sales ($)" data-chart-legend-2="Orders" data-chart-height="281">
                       <canvas id="pedidos" style="display: block;"></canvas>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-md-6 col-lg-6 col-xl-4 mb-5">
              <div class="card card-md">
                 <div class="card-header">
                    Últimas avaliações 
                 </div>
                 <div class="card-body text-center">
                    <span class="fa-5x" style="position: absolute; top: 20%;left: 50%;" if.bind="! evaluations">
                    <i class="fa fa-refresh fa-spin"></i>
                    </span>
                    <table class="table table-hover mt-2" if.bind="evaluations">
                       <thead>
                          <tr>
                             <th class="text-center">Food Service</th>
                             <th class="text-center" style="min-width: 250px;">Avaliação</th>
                             <th></th>
                          </tr>
                       </thead>
                       <tbody>
                          <tr repeat.for="x of evaluations">
                             <td class="text-center">${x.foodService.name}</td>
                             <td class="text-center"> 
                                <i class="batch-icon ${ x.rating >= 1 ? 'text-warning' : '' }  batch-icon-star-alt  batch-icon-lg" ></i>
                                <i class="batch-icon ${ x.rating >= 2 ? 'text-warning' : '' }  batch-icon-star-alt  batch-icon-lg" ></i>
                                <i class="batch-icon ${ x.rating >= 3 ? 'text-warning' : '' }  batch-icon-star-alt  batch-icon-lg" ></i>
                                <i class="batch-icon ${ x.rating >= 4 ? 'text-warning' : '' }  batch-icon-star-alt  batch-icon-lg" ></i>
                                <i class="batch-icon ${ x.rating >= 5 ? 'text-warning' : '' }  batch-icon-star-alt  batch-icon-lg" ></i>   
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
        <div class="row mb-5">
           <div class="col-md-4">
              <div class="card card-md">
                 <div class="card-header">
                    Principais Clientes
                    <div class="header-btn-block">
                       <span class="data-range dropdown">
                          <a href="#" class="btn btn-primary dropdown-toggle" id="navbar-dropdown-traffic-sources-header-button" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
                          <i class="batch-icon batch-icon-calendar"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-traffic-sources-header-button">
                             <a class="dropdown-item" href="#" click.trigger="loadMainClients(1)">Ano</a>
                             <a class="dropdown-item" href="#" click.trigger="loadMainClients(0)">Mês</a>
                             <a class="dropdown-item" href="#"  click.trigger="loadMainClients(2)">Início</a>
                          </div>
                       </span>
                    </div>
                 </div>
                 <div class="card-body text-center">
                    <span class="fa-5x" style="position: absolute; top: 20%;left: 50%;" if.bind="! clientesChart">
                    <i class="fa fa-refresh fa-spin"></i>
                    </span>
                    <div class="card-chart" data-chart-color-1="#07a7e3" data-chart-color-2="#32dac3" data-chart-color-3="#4f5b60" data-chart-color-4="#FCCF31" data-chart-color-5="#f43a59">
                       <canvas id="principaisClientesChart"></canvas>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-md-4">
              <div class="card card-md">
                 <div class="card-header">
                    Produtos mais vendidos 
                 </div>
                 <div class="card-body text-center">
                    <span class="fa-5x" style="position: absolute; top: 20%;left: 50%;" if.bind="! produtosChart">
                    <i class="fa fa-refresh fa-spin"></i>
                    </span>
                    <div class="card-body text-center">
                       <div class="card-chart" data-chart-color-1="#07a7e3" data-chart-color-2="#32dac3" data-chart-color-3="#4f5b60" data-chart-color-4="#FCCF31" data-chart-color-5="#f43a59">
                          <canvas id="principaisProdutosChart"></canvas>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <!-- <div class="col-md-4">
              <div class="card card-md">
                <div class="card-header">
                  Radar Chart
                  <div class="header-btn-block">
                    <span class="data-range dropdown">
                      <a href="#" class="btn btn-primary dropdown-toggle" id="navbar-dropdown-traffic-sources-header-button" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
                        <i class="batch-icon batch-icon-calendar"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-traffic-sources-header-button">
                        <a class="dropdown-item" href="today">Today</a>
                        <a class="dropdown-item active" href="week">This Week</a>
                        <a class="dropdown-item" href="month">This Month</a>
                        <a class="dropdown-item" href="year">This Year</a>
                      </div>
                    </span>
                  </div>
                </div>
                <div class="card-body text-center">
                  <div class="card-chart" data-chart-color-1="#07a7e3" data-chart-color-2="#32dac3" data-chart-color-3="#4f5b60" data-chart-color-4="#FCCF31" data-chart-color-5="#f43a59">
                    <canvas id="demo-radar-chart"></canvas>
                  </div>
                </div>
              </div>
              </div> -->
        </div>
     </div>
     <div class="col-md-12" if.bind="identity.registerStatus != RegisterStatus.Valid">
         <div class="card">
             <div class="card-body">
                  <h2 class="text-center">Estamos quase la!</h2>        
                  <h5 class="mt-4 text-large text-center">
                     Finalize seu cadastro no menu ao lado para ter acesso a todas as funcionalidades
                  </h5>
             </div>
         </div>
     </div>
  </div>
</template>
