<template>
  <require from="../components/attributes/moneyMask"></require>
  <require from="../components/attributes/numberMask"></require>
  <require from="../components/attributes/timeMask"></require>

  <require from="../components/valueConverters/moneyValueConverter"></require>
  <require from="../components/valueConverters/numberValueConverter"></require>
  <require from="../components/valueConverters/timeValueConverter"></require>

   <div class="row mb-5 au-animate">
      <div class="col-md-12">
         <div class="card">
            <div class="card-header">
               Regras de Mercado          
            </div>
            <div class="card-body">
               <div class="row">
                  <div class="col-md-12">
                     <h3 class="ml-2">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Pedido
                     </h3>
                     <div class="form-inline">
                        <div class="col-md-3">
                           <label class="mr-sm-2   float-right" for="inlineFormCustomSelect">Valor mínimo</label>
                        </div>
                        <div class="col-md-3">
                           <div class="input-group">
                              <span class="input-group-addon">$</span> 
                              <input type="text" class="money form-control text-right ${validator.isMinimumOrderValueInvalid  ? 'border-danger' : '' }  " autocomplete="off" money placeholder="000,00" value.bind="rule.minimumOrderValue | money"  change.delegate="validator.validateMinimumOrderValue()" />
                           </div>
                        </div>
                     </div>
                     <br />
                     <br />
                     <div class="form-inline">
                        <div class="col-md-3">
                           <label class="mr-sm-2   float-right" for="inlineFormCustomSelect">Qtde de dias para aceite</label>
                        </div>
                        <div class="col-md-3">
                           <div class="input-group">                               
                              <input type="text" class="money form-control text-right ${validator.isnumberOfDaysToAcceptInvalid  ? 'border-danger' : '' } " autocomplete="off"  number value.bind="rule.numberOfDaysToAccept | number"  change.delegate="validator.validateNumberOfDaysToAccept()" />
                           </div>
                        </div>
                     </div>
                     <br />
                     <br />
                     <div class="form-inline">
                        <div class="col-md-3">
                           <label class="mr-sm-2   float-right" for="inlineFormCustomSelect">Período de Aceite</label>
                        </div>
                        <div class="col-md-3">
                           <div class="input-group">
                              <span class="input-group-addon input-group-icon">
                                 <i class="batch-icon batch-icon-clock"></i>
                              </span>
                              <input type="time" class="time form-control  ${validator.isPeriodToAcceptOrder1Invalid  ? 'border-danger' : '' } " autocomplete="off" placeholder="HH:mm" time value.bind="rule.periodToAcceptOrder1 | time & updateTrigger:'blur' "   change.delegate="validator.validatePeriodToAcceptOrder1()" />
                              <label class="mr-sm-2 ml-2" for="inlineFormCustomSelect">as</label>
                              <span class="input-group-addon input-group-icon">
                                 <i class="batch-icon batch-icon-clock"></i>
                              </span>
                              <input type="time" class="time form-control  ${validator.isPeriodToAcceptOrder2Invalid  ? 'border-danger' : '' } " autocomplete="off" placeholder="HH:mm" maxlength="8" time  value.bind="rule.periodToAcceptOrder2 | time & updateTrigger:'blur' " change.delegate="validator.validatePeriodToAcceptOrder2()" /> 
                           </div>
                        </div>
                     </div>
                  </div>                  
                  <div class="col-md-12 mt-5">
                     <h2 class="ml-2">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                        Entrega
                     </h2>
                     <div class="row">
                        <div class="col-md-3">
                           <label class="mr-sm-2   float-right" for="inlineFormCustomSelect">Dias de entrega</label>
                        </div>
                        <div class="form-check form-check-inline"> 
                           <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" value="0" checked.bind="rule.deliveryOnMonday">
                                <span class="ml-1 mt-1">Segunda-feira</span>
                                <span class="custom-control-indicator"></span> 
                           </label> 
                           <br />
                           <br />
                           <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" value="1" checked.bind="rule.deliveryOnTuesday">
                                <span class="ml-1 mt-1">Terça-feira</span>
                                <span class="custom-control-indicator"></span> 
                           </label>
                           <br />
                           <br />
                           <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" value="2" checked.bind="rule.deliveryOnWednesday">
                                <span class="ml-1 mt-1">Quarta-feira</span>
                                <span class="custom-control-indicator"></span> 
                           </label> 
                           <br />
                           <br />
                           <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" value="3" checked.bind="rule.deliveryOnThursday">
                                <span class="ml-1 mt-1">Quinta-feira</span>
                                <span class="custom-control-indicator"></span> 
                           </label>  
                           <br />
                           <br />
                           <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" value="4" checked.bind="rule.deliveryOnFriday">
                                <span class="ml-1 mt-1">Sexta-feira</span>
                                <span class="custom-control-indicator"></span> 
                           </label>  
                           <br />
                           <br />
                           <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" value="5" checked.bind="rule.deliveryOnSaturday">
                                <span class="ml-1 mt-1">Sábado</span>
                                <span class="custom-control-indicator"></span> 
                           </label>  
                           <br />
                           <br />
                           <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" value="6" checked.bind="rule.deliveryOnSunday">
                                <span class="ml-1 mt-1">Domingo</span>
                                <span class="custom-control-indicator"></span> 
                           </label>  
                           <br />
                           <br />
                        </div>
                     </div>
                     <br />
                     <br />
                     <div class="form-inline">
                        <div class="col-md-3">
                           <label class="mr-sm-2   float-right" for="inlineFormCustomSelect">Período de Entrega</label>
                        </div>
                        <div class="col-md-3">
                           <div class="input-group">
                              <span class="input-group-addon input-group-icon">
                              <i class="batch-icon batch-icon-clock"></i>
                              </span>
                              <input type="time" class="time form-control ${validator.isDeliverySchedule1Invalid  ? 'border-danger' : '' } " autocomplete="off" placeholder="HH:mm" time  value.bind="rule.deliverySchedule1 | time & updateTrigger:'blur' "    change.delegate="validator.validateDeliverySchedule1()" /> 
                              <label class="mr-sm-2 ml-2" for="inlineFormCustomSelect">as</label>
                              <span class="input-group-addon input-group-icon">
                              <i class="batch-icon batch-icon-clock"></i>
                              </span>
                              <input type="time" class="time form-control ${validator.isDeliverySchedule2Invalid ? 'border-danger' : '' }" autocomplete="off" placeholder="HH:mm"  time value.bind="rule.deliverySchedule2 | time & updateTrigger:'blur' "  change.delegate="validator.validateDeliverySchedule2()"  /> 
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12 mt-5">
                     <h2>
                        <i class="fa fa-bell" aria-hidden="true"></i>
                        Alertas
                     </h2>
                     <div class="form-inline">
                        <div class="col-md-3"></div>
                        <div class="col-md-5">                           
                            <label class="form-check-label  ml-2 float-left">                                    
                                <input class="form-check-input  float-left" type="checkbox" value="0" checked.bind="rule.sendNotificationToNewClient" />
                                <label class="mr-sm-2   float-right" for="inlineFormCustomSelect">Receber notificação de um novo cliente por email</label>
                            </label>								
                        </div>
                     </div>
                     <br /> 
                     <div class="form-inline">
                        <div class="col-md-3"></div>
                        <div class="col-md-5">
                           <div class="input-group">                              
                              <input type="email" class="form-control ${validator.sendNotificationToNewClient  ? 'border-danger' : '' }  " autocomplete="off"   data-validation="email" if.bind="rule.sendNotificationToNewClient"  value.bind="rule.receiverNewClient" change.delegate="validator.validateReceiverNewClient()" />
                           </div>
                        </div>
                     </div> 
                     <br /> 
                     <div class="form-inline">
                        <div class="col-md-3"></div>
                        <div class="col-md-5">                           
                            <label class="form-check-label  ml-2 float-left">                                    
                                <input class="form-check-input  float-left" type="checkbox" value="0" checked.bind="rule.sendNotificationToNewOrder" /> 
                                <!--<span class="badge ${ rule.sendNotificationToNewOrder ? 'badge-success' : 'badge-warning' }">Receber notificação de um novo pedido por email</span>-->
                                <label class="mr-sm-2   float-right" for="inlineFormCustomSelect">Receber notificação de um novo pedido por email</label>                                
                            </label>
                        </div>
                     </div>  
                     <br /> 
                     <div class="form-inline">
                        <div class="col-md-3"></div>
                        <div class="col-md-5">
                           <div class="input-group">                              
                              <input type="email" class="form-control  ${validator.sendNotificationToNewOrder  ? 'border-danger' : '' }  " autocomplete="off"   data-validation="email"  if.bind="rule.sendNotificationToNewOrder" value.bind="rule.receiverNewOrder"  change.delegate="validator.validateReceiverNewOrder()" />
                           </div>
                        </div>
                     </div> 
                  </div>          
               </div>
               <div class="row mt-5">
                   <button type="button" class="btn btn-primary btn-gradient assign-task waves-effect waves-light mx-auto"  click.trigger="save()"  if.bind="! isLoading">
                       <span class="gradient">Salvar</span>
                    </button>
                    <div class="fa-2x text-center mx-auto" if.bind="isLoading" >
                            <i class="fa fa-refresh fa-spin"></i>
                    </div> 
               </div>
            </div>
         </div>
      </div>
   </div>	  
</template>