<template>
   <require from="../components/attributes/moneyMask"></require>
   <require from="../components/attributes/numberMask"></require>
   <require from="../components/attributes/timeMask"></require>
   <require from="../components/valueConverters/moneyValueConverter"></require>
   <require from="../components/valueConverters/numberValueConverter"></require>
   <require from="../components/valueConverters/timeValueConverter"></require>
   <div class="row mb-5 au-animate">
      <div class="col-md-12">
         <div class="card">
            <div class="card-header">
               Regras de Mercado          
            </div>
            <div class="card-body">
               <div class="row">
                  <div class="col-md-12">
                     <h3 class="ml-2">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Pedido
                     </h3>
                     <div class="form-inline">
                        <div class="col-md-3">
                           <label class="mr-sm-2   float-right" for="inlineFormCustomSelect">Valor mínimo</label>
                        </div>
                        <div class="col-md-4">
                           <div class="input-group">
                              <span class="input-group-addon">$</span> 
                              <input type="text" class="money form-control text-right ${validator.isMinimumOrderValueInvalid  ? 'border-danger' : '' }  " autocomplete="off" money placeholder="000,00" value.bind="rule.minimumOrderValue | money"  change.delegate="validator.validateMinimumOrderValue()" />
                           </div>
                        </div>
                     </div>
                     <br />
                     <br />
                     <div class="form-inline">
                        <div class="col-md-3">
                           <label class="mr-sm-2   float-right" for="inlineFormCustomSelect">Qtde de dias para aceite</label>
                        </div>
                        <div class="col-md-4">
                           <div class="input-group">                               
                              <input type="text" class="money form-control text-right ${validator.isnumberOfDaysToAcceptInvalid  ? 'border-danger' : '' } " autocomplete="off"  number value.bind="rule.numberOfDaysToAccept | number"  change.delegate="validator.validateNumberOfDaysToAccept()" />
                           </div>
                        </div>
                     </div>
                     <br />
                     <br />
                     <div class="form-inline">
                        <div class="col-md-3">
                           <label class="mr-sm-2   float-right" for="inlineFormCustomSelect">Período de Aceite</label>
                        </div>
                        <div class="col-md-4">
                           <div class="input-group">
                              <span class="input-group-addon input-group-icon">
                              <i class="batch-icon batch-icon-clock"></i>
                              </span>
                              <input type="time" class="time form-control  ${validator.isPeriodToAcceptOrder1Invalid  ? 'border-danger' : '' } " autocomplete="off" placeholder="HH:mm" time value.bind="rule.periodToAcceptOrder1 | time & updateTrigger:'blur' "   change.delegate="validator.validatePeriodToAcceptOrder1()" />
                              <label class="mr-sm-2 ml-2" for="inlineFormCustomSelect">as</label>
                              <span class="input-group-addon input-group-icon">
                              <i class="batch-icon batch-icon-clock"></i>
                              </span>
                              <input type="time" class="time form-control  ${validator.isPeriodToAcceptOrder2Invalid  ? 'border-danger' : '' } " autocomplete="off" placeholder="HH:mm" maxlength="8" time  value.bind="rule.periodToAcceptOrder2 | time & updateTrigger:'blur' " change.delegate="validator.validatePeriodToAcceptOrder2()" /> 
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12 mt-5">
                     <h2 class="ml-2">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                        Entrega
                     </h2>
                     <div class="row mt-5"> 
                        <div class="form-check form-check-inline ml-5 col-md-8"> 
                           <div class="input-group"> 
                              <label class="custom-control custom-checkbox col-md-3  mt-2">
                                 <input type="checkbox" class="custom-control-input" value="0" checked.bind="rule.deliveryOnMonday" change.trigger="deliveryOnMondayChanged()">
                                 <span class="ml-1 mt-1">Segunda-feira</span>
                                 <span class="custom-control-indicator"></span> 
                              </label>
                              <div class="input-group" if.bind="rule.deliveryOnMonday">
                                 <span class="input-group-addon input-group-icon">
                                    <i class="batch-icon batch-icon-clock"></i>
                                 </span>
                                 <input type="time" class="time form-control ${validator.isDeliveryOnMondayStartInvalid  ? 'border-danger' : '' } " autocomplete="off" placeholder="HH:mm" time  
                                       value.bind="rule.deliveryOnMondayStart | time"    
                                       change.delegate="validator.validateDeliveryMondayScheduleStart()" /> 
                                 <label class="mr-sm-2 ml-2 mt-3" for="inlineFormCustomSelect" if.bind="rule.deliveryOnMonday">as</label>
                                 <span class="input-group-addon input-group-icon">
                                    <i class="batch-icon batch-icon-clock"></i>
                                 </span>
                                 <input type="time" class="time form-control ${validator.isDeliveryOnMondayEndInvalid ? 'border-danger' : '' }" autocomplete="off" placeholder="HH:mm"  time 
                                       value.bind="rule.deliveryOnMondayEnd | time"  
                                       change.delegate="validator.validateDeliveryMondayScheduleEnd()" />  
                              </div>
                           </div>
                           <br />
                           <br />
                           <div class="input-group"> 
                              <label class="custom-control custom-checkbox col-md-3  mt-2">
                                 <input type="checkbox" class="custom-control-input" value="1" checked.bind="rule.deliveryOnTuesday" change.trigger="deliveryOnTuesdayChanged()">
                                 <span class="ml-1 mt-1">Terça-feira</span>
                                 <span class="custom-control-indicator"></span> 
                              </label>
                              <div class="input-group" if.bind="rule.deliveryOnTuesday">
                                 <span class="input-group-addon input-group-icon">
                                    <i class="batch-icon batch-icon-clock"></i>
                                 </span>
                                 <input type="time" class="time form-control ${validator.isDeliveryOnTuesdayStartInvalid  ? 'border-danger' : '' } " autocomplete="off" placeholder="HH:mm" time  
                                       value.bind="rule.deliveryOnTuesdayStart | time "    
                                       change.delegate="validator.validateDeliveryTuesdayScheduleStart()" /> 
                                 <label class="mr-sm-2 ml-2 mt-3" for="inlineFormCustomSelect">as</label>
                                 <span class="input-group-addon input-group-icon">
                                    <i class="batch-icon batch-icon-clock"></i>
                                 </span>
                                 <input type="time" class="time form-control ${validator.isDeliveryOnTuesdayEndInvalid ? 'border-danger' : '' }" autocomplete="off" placeholder="HH:mm"  time 
                                       value.bind="rule.deliveryOnTuesdayEnd | time"  
                                       change.delegate="validator.validateDeliveryTuesdayScheduleEnd()" />  
                              </div>      
                           </div>
                           <br />
                           <br />
                           <div class="input-group"> 
                                 <label class="custom-control custom-checkbox col-md-3  mt-2">
                                    <input type="checkbox" class="custom-control-input" value="2" checked.bind="rule.deliveryOnWednesday"  change.trigger="deliveryOnWednesdayChanged()">
                                    <span class="ml-1 mt-1">Quarta-feira</span>
                                    <span class="custom-control-indicator"></span> 
                                 </label>  
                                 <div class="input-group" if.bind="rule.deliveryOnWednesday">
                                    <span class="input-group-addon input-group-icon">
                                       <i class="batch-icon batch-icon-clock"></i>
                                    </span>
                                    <input type="time" class="time form-control ${validator.isDeliveryOnWednesdayStartInvalid  ? 'border-danger' : '' } " autocomplete="off" placeholder="HH:mm" time  
                                          value.bind="rule.deliveryOnWednesdayStart | time "    
                                          change.delegate="validator.validateDeliveryWednesdayScheduleStart()" /> 
                                    <label class="mr-sm-2 ml-2 mt-3" for="inlineFormCustomSelect">as</label>
                                    <span class="input-group-addon input-group-icon">
                                       <i class="batch-icon batch-icon-clock"></i>
                                    </span>
                                    <input type="time" class="time form-control ${validator.isDeliveryOnWednesdayEndInvalid ? 'border-danger' : '' }" autocomplete="off" placeholder="HH:mm"  time 
                                          value.bind="rule.deliveryOnWednesdayEnd | time "  
                                          change.delegate="validator.validateDeliveryWednesdayScheduleEnd()" />  
                                 </div> 
                           </div>
                           <br />
                           <br />
                           <div class="input-group"> 
                              <label class="custom-control custom-checkbox col-md-3 mt-2">
                                 <input type="checkbox" class="custom-control-input" value="3" checked.bind="rule.deliveryOnThursday"  change.trigger="deliveryOnThursdayChanged()">
                                 <span class="ml-1 mt-1">Quinta-feira</span>
                                 <span class="custom-control-indicator"></span>  
                              </label>  
                              <div class="input-group" if.bind="rule.deliveryOnThursday">
                                 <span class="input-group-addon input-group-icon">
                                    <i class="batch-icon batch-icon-clock"></i>
                                 </span>
                                 <input type="time" class="time form-control ${validator.isDeliveryOnThursdayStartInvalid  ? 'border-danger' : '' } " autocomplete="off" placeholder="HH:mm" time  
                                       value.bind="rule.deliveryOnThursdayStart | time "    
                                       change.delegate="validator.validateDeliveryThursdayScheduleStart()" /> 
                                 <label class="mr-sm-2 ml-2 mt-3" for="inlineFormCustomSelect">as</label>
                                 <span class="input-group-addon input-group-icon">
                                    <i class="batch-icon batch-icon-clock"></i>
                                 </span>
                                 <input type="time" class="time form-control ${validator.isDeliveryOnThursdayEndInvalid ? 'border-danger' : '' }" autocomplete="off" placeholder="HH:mm"  time 
                                       value.bind="rule.deliveryOnThursdayEnd | time "  
                                       change.delegate="validator.validateDeliveryThursdayScheduleEnd()" />  
                              </div> 
                           </div>
                           <br />
                           <br />
                           <div class="input-group"> 
                              <label class="custom-control custom-checkbox col-md-3 mt-2">
                                 <input type="checkbox" class="custom-control-input" value="4" checked.bind="rule.deliveryOnFriday"  change.trigger="deliveryOnFridayChanged()">
                                 <span class="ml-1 mt-1">Sexta-feira</span>
                                 <span class="custom-control-indicator"></span>
                              </label>  
                              <div class="input-group" if.bind="rule.deliveryOnFriday">
                                 <span class="input-group-addon input-group-icon">
                                    <i class="batch-icon batch-icon-clock"></i>
                                 </span>
                                 <input type="time" class="time form-control ${validator.isDeliveryOnFridayStartInvalid  ? 'border-danger' : '' } " autocomplete="off" placeholder="HH:mm" time  
                                       value.bind="rule.deliveryOnFridayStart | time "    
                                       change.delegate="validator.validateDeliveryFridayScheduleStart()" /> 
                                 <label class="mr-sm-2 ml-2 mt-3" for="inlineFormCustomSelect">as</label>
                                 <span class="input-group-addon input-group-icon">
                                    <i class="batch-icon batch-icon-clock"></i>
                                 </span>
                                 <input type="time" class="time form-control ${validator.isDeliveryOnFridayEndInvalid ? 'border-danger' : '' }" autocomplete="off" placeholder="HH:mm"  time 
                                       value.bind="rule.deliveryOnFridayEnd | time "  
                                       change.delegate="validator.validateDeliveryFridayScheduleEnd()" />  
                              </div> 
                           </div>
                           <br />
                           <br />
                           <div class="input-group"> 
                              <label class="custom-control custom-checkbox col-md-3 mt-2">
                                 <input type="checkbox" class="custom-control-input" value="5" checked.bind="rule.deliveryOnSaturday"  change.trigger="deliveryOnSaturdayChanged()">
                                 <span class="ml-1 mt-1">Sábado</span>
                                 <span class="custom-control-indicator"></span> 
                              </label> 
                              <div class="input-group" if.bind="rule.deliveryOnSaturday">
                                 <span class="input-group-addon input-group-icon">
                                    <i class="batch-icon batch-icon-clock"></i>
                                 </span>
                                 <input type="time" class="time form-control ${validator.isDeliveryOnSaturdayStartInvalid  ? 'border-danger' : '' } " autocomplete="off" placeholder="HH:mm" time  
                                       value.bind="rule.deliveryOnSaturdayStart | time "    
                                       change.delegate="validator.validateDeliverySaturdayScheduleStart()" /> 
                                 <label class="mr-sm-2 ml-2 mt-3" for="inlineFormCustomSelect">as</label>
                                 <span class="input-group-addon input-group-icon">
                                    <i class="batch-icon batch-icon-clock"></i>
                                 </span>
                                 <input type="time" class="time form-control ${validator.isDeliveryOnSaturdayEndInvalid ? 'border-danger' : '' }" autocomplete="off" placeholder="HH:mm"  time 
                                       value.bind="rule.deliveryOnSaturdayEnd | time "  
                                       change.delegate="validator.validateDeliverySaturdayScheduleEnd()" />  
                              </div> 
                           </div>
                           <br />
                           <br />
                           <div class="input-group"> 
                              <label class="custom-control custom-checkbox col-md-3 mt-2">
                                 <input type="checkbox" class="custom-control-input" value="6" checked.bind="rule.deliveryOnSunday"  change.trigger="deliveryOnSundayChanged()">
                                 <span class="ml-1 mt-1">Domingo</span>
                                 <span class="custom-control-indicator"></span>  
                              </label> 
                              <div class="input-group" if.bind="rule.deliveryOnSunday">
                                 <span class="input-group-addon input-group-icon">
                                    <i class="batch-icon batch-icon-clock"></i>
                                 </span>
                                 <input type="time" class="time form-control ${validator.isDeliveryOnSundayStartInvalid  ? 'border-danger' : '' } " autocomplete="off" placeholder="HH:mm" time  
                                       value.bind="rule.deliveryOnSundayStart | time "    
                                       change.delegate="validator.validateDeliverySundayScheduleStart()" /> 
                                 <label class="mr-sm-2 ml-2 mt-3" for="inlineFormCustomSelect">as</label>
                                 <span class="input-group-addon input-group-icon">
                                    <i class="batch-icon batch-icon-clock"></i>
                                 </span>
                                 <input type="time" class="time form-control ${validator.isDeliveryOnSundayEndInvalid ? 'border-danger' : '' }" autocomplete="off" placeholder="HH:mm"  time 
                                       value.bind="rule.deliveryOnSundayEnd | time "  
                                       change.delegate="validator.validateDeliverySundayScheduleEnd()" />  
                              </div> 
                           </div>
                           <br />
                           <br />
                        </div>
                     </div>
                     <br />
                     <br />
                  </div>
                  <div class="col-md-12 mt-5">
                     <h2>
                        <i class="fa fa-bell" aria-hidden="true"></i>
                        Alertas
                     </h2>
                     <div class="form-inline mt-2">
                        <div class="col-md-3"></div>
                        <div class="">  
                           <label class="custom-control custom-checkbox ml-2 float-left">
                           <input type="checkbox" class="custom-control-input" value="6" change.delegate="sendNotificationToNewClientChanged()" checked.bind="rule.sendNotificationToNewClient">
                           <span class="custom-control-indicator"></span> 
                           <span class="ml-1 mt-1">Receber notificação de um novo cliente por e-mail</span>
                           </label> 				
                        </div>
                     </div>
                     <br /> 
                     <div class="form-inline">
                        <div class="col-md-3 mt-3"></div>
                        <div class="col-md-6 mt-3" if.bind="rule.sendNotificationToNewClient">
                           <div class="input-group">   
                                 <input type="email" 
                                    class="form-control ${validator.isReceiverNewClientInvalid && emailsNewClient.length == 0  ? 'border-danger' : '' }" 
                                    autocomplete="chrome-off"
                                    value.bind="emailNewClient" 
                                    change.delegate="validator.validateReceiverNewClient(emailNewClient)" />
                              <span class="col-md-1">
                                 <button type="button" class="btn btn-primary"  click.trigger="addEmailNewClient()">
                                    <span class="gradient">Adicionar</span>
                                 </button>
                              </span>
                           </div>
                           <div class="input-group mt-5" if.bind="emailsNewClient.length > 0">
                              <p class=" text-center mx-auto">
                                 <i class="fa fa-envelope" aria-hidden="true"></i>
                                 E-mails cadastrados
                              </p>
                           </div>
                           <div class="input-group mt-1" repeat.for="email of emailsNewClient" >
                                 <input type="email" 
                                    class="form-control ${validator.sendNotificationToNewClient  ? 'border-danger' : '' }  " 
                                    autocomplete="chrome-off"
                                    id="${emailsNewOrder[$index]}"   
                                    data-validation="email"  
                                    value.two-way="emailsNewClient[$index]" 
                                    change.delegate="receiverNewClientChanged(emailsNewClient[$index])" />
                              <span class="col-md-1">
                                    <button type="button" class="btn btn-danger"  click.trigger="removeEmailNewClient(email)">
                                    <span class="gradient">Remover</span>
                                    </button>
                              </span>
                           </div>
                        </div>
                     </div>
                     <div class="mt-3">
                        <br /> 
                        <div class="form-inline">
                           <div class="col-md-3"></div>
                           <div class="">  
                              <label class="custom-control custom-checkbox ml-2 float-left">
                              <input type="checkbox" class="custom-control-input" value="6" checked.bind="rule.sendNotificationToNewOrder">
                              <span class="custom-control-indicator"></span> 
                              <span class="ml-1 mt-1">Receber notificação de um novo pedido por e-mail</span>
                              </label>   
                           </div>
                        </div>
                        <br />  
                        <div class="form-inline">
                           <div class="col-md-3"></div>
                           <div class="col-md-6" if.bind="rule.sendNotificationToNewOrder">
                              <div class="input-group">   
                                 <input type="email" 
                                       class="form-control ${validator.isReceiverNewOrderInvalid && emailsNewOrder.length == 0  ? 'border-danger' : '' }  " 
                                       autocomplete="chrome-off"
                                       value.bind="emailNewOrder" 
                                       change.delegate="validator.validateReceiverNewOrder(emailNewOrder)" />
                                 <span class="col-md-1">
                                    <button type="button" class="btn btn-primary"  click.trigger="addEmailNewOrder()">                                       
                                       Adicionar
                                    </button>
                                 </span>
                              </div>
                              <div class="input-group mt-5"  if.bind="emailsNewOrder.length > 0">
                                 <p class=" text-center mx-auto">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    E-mails cadastrados
                                 </p>
                              </div>
                              <div class="input-group mt-1" repeat.for="receiverNewOrder of emailsNewOrder" >
                                    <input type="email" 
                                       class="form-control" 
                                       autocomplete="chrome-off"
                                       data-validation="email"  
                                       id="${emailsNewOrder[$index]}"
                                       value.two-way="emailsNewOrder[$index]"/> 
                                 <span class="col-md-1">
                                       <button type="button" class="btn btn-danger"  click.trigger="removeEmailNewOrder(receiverNewOrder)">
                                          <span class="gradient">Remover</span>
                                       </button>
                                 </span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12 mt-5">
                     <div class="row mt-5">
                        <button type="button" class="btn btn-primary mx-auto"  click.trigger="save()"  if.bind="! isLoading">
                           <span class="gradient">Salvar</span>
                        </button>
                        <div class="fa-2x text-center mx-auto" if.bind="isLoading" >
                           <i class="fa fa-refresh fa-spin"></i>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>