<template> 
    <require from="jquery-datetimepicker/jquery.datetimepicker.min.css"></require>
    <require from="../attributes/moneyMask"></require>
    <require from="../attributes/numberMask"></require>
    <require from="../attributes/datepicker"></require>
    <require from="../attributes/timeMask"></require>
    <require from="../valueConverters/dateFormatValueConverter"></require>
    <require from="../valueConverters/numberValueConverter"></require>
    <require from="../valueConverters/timeValueConverter"></require>

    <div class="row mb-5">
            <div class="col-md-9">
               <div class="card">
                  <div class="card-header">
                     Aceite de Pedido
                  </div>
                  <div class="card-body">                     
                      <div class="row"> 
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Tem certeza que deseja aceitar o pedido <strong>nº ${order.code}</strong>?</label>
                                <br />
                                <span class="badge badge-warning">
                                    <i class="fa fa-warning"></i>Atenção: a data e horários definidos abaixo devem ser cumpridos
                                </span>                                                                                         
                            </div>        
                        </div> 
                    </div>                     
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label active">Data de entrega<span class="text-danger  ml-1 bold">*</span></label>                             
                                <input type="text" class="form-control text-right ${ order.deliveryDate == null ? '' : 'disabled' }"  disabled.bind="order.deliveryDate != null"  autocomplete="off" placeholder="00/00/0000" value.bind="order.deliveryDate | dateFormat  & validate" datepicker >
                            </div>   
                        </div> 
                    </div>    
                    <div class="row"> 
                          <div class="col-md-12 mt-3">
                              <div class="form-group">
                                  <label class="control-label">Horário inicial</label> 
                                    <div class="input-group">
                                        <span class="input-group-addon input-group-icon">
                                            <i class="batch-icon batch-icon-clock"></i>
                                        </span>
                                        <input type="time" class="time form-control  ${ order.deliveryScheduleStart == null ? '' : 'disabled' }"  disabled.bind="order.deliveryScheduleStart != null"  autocomplete="off" placeholder="HH:mm" time value.bind="order.deliveryScheduleStart | time & updateTrigger:'blur' & validate" />
                                    </div>  
                              </div>        
                          </div> 
                    </div>    
                    <div class="row"> 
                          <div class="col-md-12 mt-3">
                              <div class="form-group">
                                    <label class="control-label">Horário final</label>
                                    <div class="input-group">
                                        <span class="input-group-addon input-group-icon">
                                            <i class="batch-icon batch-icon-clock"></i>
                                        </span>
                                        <input type="time" class="time form-control  ${ order.deliveryScheduleEnd == null ? '' : 'disabled' }"  disabled.bind="order.deliveryScheduleEnd != null"  autocomplete="off" placeholder="HH:mm" time value.bind="order.deliveryScheduleEnd | time & updateTrigger:'blur' & validate " />
                                    </div>
                              </div>        
                          </div> 
                    </div>                   
                    <div class="row mt-2"> 
                        <div class="col-md-6 mt-3">
                            <div class="form-inline">
                                <label class="control-label active">Data de pagamento do boleto<span class="text-danger  ml-1 bold">*</span></label>                             
                                <input type="text" class="form-control text-right" autocomplete="off" placeholder="00/00/0000" value.bind="order.paymentDate | dateFormat & validate" datepicker change.trigger="updatePaymentDate()">
                            </div>   
                        </div> 
                            <div class="col-md-6 mt-3">
                                <label class="control-label active">Prazo para pagamento</label>
                                <div class="form-inline">
                                    <input type="text" class="form-control  text-right ml-2 col-md-4" autocomplete="off" change.trigger="setPaymentDate()" value.bind="connection.paymentTerm | number" number >
                                    <span class="ml-1">dia(s)</span>
                                    <button type="button" class="btn btn-sm btn-primary ml-4"  click.trigger="savePaymentTerm()" if.bind="connection.paymentTerm" >
                                        Salvar
                                    </button>
                                </div>   
                            </div> 
                    </div>   
                 <div class="row mt-3 form-group mx-auto text-center">
                    <button type="button" class="btn btn-secondary waves-effect waves-light mr-5"  click.trigger="cancel()" if.bind="! processing" >
                        <i class="fa fa-undo mr-2"></i>Cancelar
                    </button>
                    <button type="button" class="btn  btn-success waves-effect waves-light ml-5"  click.trigger="acceptOrder()"  if.bind="! processing" >
                        <i class="fa fa-check mr-2"></i>Aceitar
                    </button>
                    <div class="fa-2x text-center  mx-auto  " if.bind="processing" >
                            <i class="fa fa-refresh fa-spin"></i>
                    </div>                     
                 </div>      
               </div>
            </div>
         </div>    
</template>