<template>
   <require from="../attributes/moneyMask"></require>
   <require from="../valueConverters/moneyValueConverter"></require>
   <div class="col-md-12">
      <div id="accordion" role="tablist" aria-multiselectable="true">            
         <div class="">
            <div class="card-header ml-0" role="tab" id="headingTwo">
               <h5 class="mb-0">
                  <a class="" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                     Produtos fornecidos
                  </a>
               </h5>
            </div> 
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" style="">
               <div class="card-body">   
                        <div class="row mt-2">
                           <div class="col-lg-4">
                              <div class="form-group">
                                 <label class="control-label">Categoria</label>            
                                 <select class="form-control "    value.bind="selectedCategory" change.delegate="loadProducts()">
                                    <option  value=""></option>
                                    <option  repeat.for="category of categories" value.bind="category.id">${category.name}</option>
                                 </select>
                              </div>
                           </div>
                           <div class="col-lg-4">
                              <div class="form-group">
                                 <label class="control-label">Filtro</label> 
                                 <input type="text" class="form-control "    value.bind="filter"  placeholder="Pesquise por Produto / Descrição"  change.trigger="search()"/>
                              </div>
                           </div> 
                        </div> 
                  </div>
                  <table class="table table-hover mt-2">
                     <thead>
                        <tr>
                           <th>Nome</th>
                           <th>Descrição</th>
                           <th>Categoria</th>
                           <th>UM</th>
                           <th>Marca</th>
                           <th class="text-center">Preço</th>
                           <th>Status</th>
                           <th></th> 
                        </tr>
                     </thead>
                     <tbody>
                        <tr repeat.for="supplierProduct of filteredProducts">
                           <td>
                                 ${supplierProduct.product.name}
                                 <span if.bind="supplierProduct.isNew" class="badge badge-warning">Novo!</span>                                
                           </td>
                           <td>${supplierProduct.product.description}</td>                           
                           <td>${supplierProduct.product.category.name}</td>
                           <td>${supplierProduct.product.unit.name}</td>
                           <td></td>
                           <td>
                              <div class="col-md-12 mx-auto">
                                 <input type="text" class="money text-right form-control ${supplierProduct.isEditing ? '' : 'disabled' } " disabled.bind="! supplierProduct.isEditing" autocomplete="off" value.bind="supplierProduct.price | money" money placeholder="000,00" />
                              </div>
                           </td>
                           <th>
                              <span class="badge badge-success ${supplierProduct.isActive && ! supplierProduct.isEditing ? 'float-left' :  'invisible' }" >Ativo</span>
                              <span class="badge badge-danger ${ ! supplierProduct.isActive && ! supplierProduct.isEditing ? 'float-left' :  'invisible' }">Inativo</span>                                                                                                   
                              <br />
                              <span class="badge badge-warning" if.bind="supplierProduct.wasAltered">Alterado</span>                              
                           </th>
                           <td>
                              <div class="fa-2x text-center mx-auto" if.bind="supplierProduct.isLoading" >
                                 <i class="fa fa-refresh fa-spin"></i>
                              </div> 
                              <div class="col-md-12 mx-auto">   
                                    <button type="button" class="btn btn-primary btn-sm waves-effect waves-light ${ ! supplierProduct.isEditing && ! isLoading  ? '' : 'invisible' }  " if.bind="! supplierProduct.isEditing && ! supplierProduct.isLoading " click.trigger="edit(supplierProduct)">  Editar  </button>
                                    <button type="button" class="btn btn-danger btn-sm waves-effect waves-light ${supplierProduct.isActive && supplierProduct.isEditing ? ' float-left' : 'invisible' } " if.bind="supplierProduct.isActive"  click.trigger="alterStatus(supplierProduct)"  >Inativar</button>
                                    <button type="button" class="btn btn-success btn-sm waves-effect waves-light ${! supplierProduct.isActive && supplierProduct.isEditing ? 'float-left' :  'invisible'  } " if.bind="! supplierProduct.isActive" click.trigger="alterStatus(supplierProduct) ">Ativar</button>                                                                  
                                    <button type="button" class="btn btn-primary btn-sm waves-effect waves-light ${ supplierProduct.isEditing && ! isLoading  ? '' : 'invisible' } "  if.bind="supplierProduct.isEditing" click.trigger="save(supplierProduct)">Salvar</button>
                                    <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light ${ supplierProduct.isEditing && ! isLoading ? '' : 'invisible' } "  if.bind="supplierProduct.isEditing" click.trigger="cancelEdit(supplierProduct)">Cancelar</button>                                    
                              </div>                                    
                           </td> 
                        </tr>
                     </tbody>
                  </table> 
               </div>
            </div>
         </div>
         <div class="">
            <div class="card-header ml-0" role="tab" id="headingThree">
               <h5 class="mb-0">
                  <a class="" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Download 
                  </a>
               </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" style="">
               <div class="card-body">

                  <p class="text-left">Atualize o preço para os seus produtos através do download e upload de planilha</p>
                        <button type="button" class="btn btn-primary waves-effect waves-light col-md-3" click.trigger="downloadFile()">
                              <i class="batch-icon batch-icon-cloud-download"></i>
                              Download
                        </button>   
               </div>
            </div>
         </div>
         <div class="">
            <div class="card-header ml-0" role="tab" id="headingFour">
               <h5 class="mb-0">
                  <a class="" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                   Upload
                  </a>
               </h5> 
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" style="">
                  
                   
               <div class="card-body" > 
                     <p class="text-left">Atualize o preço para os seus produtos através do download e upload de planilha</p>
                     <br />
                        <form submit.delegate="uploadFile()">
                              <button type="submit" if.bind="selectedFiles.length > 0" class="btn ${ ! isUploading ? 'btn-primary' : 'btn-warning'} waves-effect waves-light col-md-3" disable.bind="isUploading">
                                    <span if.bind="! isUploading">
                                          <i class="batch-icon batch-icon-cloud-upload"></i>
                                          Upload
                                    </span>
                                    <span  if.bind="isUploading">
                                          <i class="fa fa-circle-o-notch fa-spin"></i> Processando arquivo
                                    </span>
                              </button>
                              <input id="files" type="file" accept=".csv" files.bind="selectedFiles" class="${ isUploading ? 'invisible' : ''}"> 
                        </form> 
               </div>
            </div>
         </div>
      </div>
   </div>
</template>