<template>
   <require from="../attributes/moneyMask"></require>
   <require from="../valueConverters/moneyValueConverter"></require>
   <div class="col-md-12">
      <div id="accordion2" role="tablist" aria-multiselectable="true">
         <div class="" repeat.for="file of files">
            <div class="card-header ml-0" role="tab" id="headingFile${file.id}">
               <h5 class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse${file.id}" aria-expanded="false" aria-controls="collapse${file.id}" class="">
                    ${file.fileName} 
                  </a>
               </h5>
            </div>
            <div id="collapse${file.id}" class="collapse" role="tabpanel" aria-labelledby="headingOne" style="">
               <div class="card-body">
                  <p class="text-right">Usuário :  ${file.uploadedBy.name}</p>
                  <p class="text-right">Data: ${dataAtualFormatada(file.uploadedOn)}</p>
                  <p class="text-left">Os produtos abaixo foram atualizados com o upload desse arquivo</p>
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th>Nº da Linha</th>
                           <th>Cod. Produto</th>
                           <th>Nome</th>
                           <th>Descrição</th>
                           <th>Mercado</th>
                           <th>Categoria</th>
                           <th>UM</th>
                           <th>Marca</th>
                           <th class="text-center">Preço Antigo</th>
                           <th class="text-center">Novo Preço</th>                           
                           <th>Status</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr repeat.for="row of file.rows">
                            <td>${row.lineNumber}</td>
                            <td>${row.supplierProduct.clientCode}</td>
                           <td>${row.supplierProduct.product.name}</td>
                           <td>${row.supplierProduct.product.description}</td>
                           <td>${row.supplierProduct.product.category.productClass.name}</td>
                           <td>${row.supplierProduct.product.category.name}</td>
                           <td>${row.supplierProduct.product.unit.name}</td>
                           <td>${row.supplierProduct.product.brand.name}</td>
                           <td class="text-center">${row.oldPrice.toFixed(2)}</td>
                           <td class="text-center">${row.newPrice.toFixed(2)}</td>
                           <td>       
                              <span class="badge badge-success" if.bind="row.status == 0">Sucesso</span>
                              <span class="badge badge-danger" if.bind="row.status == 1">Erro</span>                        
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>