<template>
   <require from="../attributes/moneyMask"></require>
   <require from="../valueConverters/moneyValueConverter"></require>

   <div class="col-md-12">
      <div id="accordion2" role="tablist" aria-multiselectable="true">
         <div class="" repeat.for="list of lists">
            <div class="card-header ml-0" role="tab" id="headingFile${list.id}">
               <h5 class="mb-0"> 
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse${list.id}" aria-expanded="false" aria-controls="collapse${list.id}" class="">                     
                      ${dataAtualFormatada(list.date)}
                  </a>
               </h5>
            </div>
            <div id="collapse${list.id}" class="collapse" role="tabpanel" aria-labelledby="headingOne" style="">
               <div class="card-body">                  
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th>Nome</th>
                           <th>Descrição</th>
                           <th>Categoria</th>
                           <th>UM</th>
                           <th>Marca</th>
                           <th class="text-center">Preço</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr repeat.for="item of list.items">                           
                           <td>${item.product.product.name}</td>                       
                           <td>${item.product.product.description}</td>
                           <td>${item.product.product.category.name}</td>
                           <td>${item.product.product.unit.name}</td>
                           <td>${item.product.product.brand.name}</td>                           
                           <td class="text-center">${item.price.toFixed(2)}</td>
                        </tr>
                     </tbody>
                  </table>
                  
                   <button type="button" class="btn btn-primary waves-effect waves-light col-md-2" click.trigger="downloadList(list)">
                        <i class="batch-icon batch-icon-cloud-download"></i>
                        Baixar Lista
                    </button>   
               </div>
            </div>
         </div>
      </div>
   </div>
</template>