<template>
        <div class="row mt-4">
           <div class="col-lg-4">
              <div class="form-group">
                 <label class="control-label">Categoria</label>
                 <select class="form-control"  value.bind="selectedCategory" change.delegate="search()">                    
                    <option  repeat.for="category of categories" value.bind="category.id">${category.name}</option>
                 </select>
              </div>
           </div>
           <div class="col-lg-4">
              <div class="form-group">
                 <label class="control-label">Filtro</label> 
                 <input type="text" class="form-control "  value.bind="filter"  placeholder="Pesquise por Produto / Descrição"  change.trigger="search()"/>
              </div>
           </div>
        </div> 
        <div class="row">           
           <div class="col-lg-4">
              <div class="form-group">  
                  <button type="button"   if.bind="! isCreatingList"   class="btn btn-primary btn-sm waves-effect waves-light au-target au-target" click.trigger="isCreatingList = true">Criar Lista</button>
                  <input type="text"      if.bind="  isCreatingList"   class="form-control " value.bind="newListName"  placeholder="Digite o nome da lista" />
              </div>
           </div>
           <div class="col-lg-4"  if.bind="isCreatingList" >
              <div class="form-group">                 
                  <button type="button" class="btn btn-primary btn-sm waves-effect waves-light au-target au-target" click.trigger="createList()">Salvar</button>
                  <button type="button" class="btn btn-primary btn-sm waves-effect waves-light au-target au-target" click.trigger="isCreatingList = false" >Cancelar</button>
              </div>
           </div>
        </div>   
                                  
        <div class="row" if.bind="isFiltered">
           <div class="col-md-12 pb-5"> 
              <table class="table table-hover">
                 <thead>
                    <tr>
                       <th>Nome</th>
                       <th>Categoria</th>
                       <th>UM</th> 
                       <th>Marca</th>
                       <th repeat.for="list of lists">${list.name}</th>    
                       <th></th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr repeat.for="x of filteredProducts">
                       <td>
                             ${x.product.name}
                             <span if.bind="x.isNew" class="badge badge-warning">Novo!</span>
                       </td>
                       <td>${x.product.category.name}</td>
                       <td>${x.product.unit.name}</td> 
                       <td></td>
                       <td  repeat.for="list of lists">          
                              <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" checked.bind="list[x.product.name + '_'+ x.product.unit.name]"  change.trigger="changeList(list, x)">
                                    <span class="custom-control-indicator"></span> 
                              </label>
                       </td> 
                       <td >                                        
                            <button type="button" if.bind="! x.isLoading"  class="btn btn-danger btn-sm waves-effect waves-light  ${ isProcessing ? 'disable' : ''  && ! product.isLoading }" disabled.bind="isProcessing"  click.trigger="removeProduct(x)">Remover</button>
                            <div class="fa-2x " if.bind="x.isLoading  == true">
                                <i class="fa fa-refresh fa-spin"></i>
                            </div> 
                       </td>
                    </tr>
                 </tbody>
              </table>
           </div>
        </div>
     </template>