<template>
      <require from="../attributes/moneyMask"></require>
      <require from="../valueConverters/moneyValueConverter"></require>      
      <div class="row mt-2">
         <div class="col-lg-4">
            <div class="form-group">
               <label class="control-label">Mercado</label>            
               <select class="form-control ${ isLoaded ? '' : 'disabled' }"   disabled.bind="! isLoaded" value.bind="selectedClass" change.delegate="updateCategories()">
                  <option  repeat.for="class of classes" model.bind="class">${class.name}</option>
               </select>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="form-group">
               <label class="control-label">Categoria</label>            
               <select class="form-control ${ isLoaded ? '' : 'disabled' }"   disabled.bind="! isLoaded" value.bind="selectedCategory" change.delegate="loadProducts()">
                  <option  value=""></option>
                  <option  repeat.for="category of selectedClass.categories" model.bind="category">${category.name}</option>
               </select>
            </div>
         </div>         
         <div class="col-lg-4">
            <div class="form-group">
               <label class="control-label">Filtro</label> 
               <input type="text" class="form-control  ${ isLoaded ? '' : 'disabled' }"  disabled.bind="! isLoaded"  value.bind="filter"  placeholder="Pesquise por Produto / Descrição"  change.trigger="search()"/>
            </div>
         </div>
      </div>  
    
   <div class="row" if.bind="isFiltered">
      <div class="col-md-12 pb-5 mt-5"> 
         <table class="table table-hover table-sm">
            <thead>
               <tr>
                  <th class="text-left">Nome</th>
                  <th class="text-center">Descrição</th>
                  <th class="text-center">Marca</th> 
                  <th class="text-center">UM</th> 
                  <th class="text-center">Preço</th>  
                  <th></th>
               </tr>
            </thead>
            <tbody repeat.for="base of filteredProducts" if.bind="base.products.length > 0">
               <tr repeat.for="product of base.products">
                  <td class="align-middle ${ $index > 0 ? 'border-0' : ''}">
                     <span if.bind="$index == 0">${base.name}</span> 
                  </td> 
                  <td class="text-center align-middle ${ $index > 0 ? 'border-0' : ''}">${product.description}</td>
                  <td class="align-middle ${ $index > 0 ? 'border-0' : ''}">${product.brand.name}</td>
                  <td class="text-center align-middle ${ $index > 0 ? 'border-0' : ''}">${product.unit.name}</td> 
                  <td class="align-middle text-center ${ $index > 0 ? 'border-0' : ''}">
                        <input type="text" disabled.bind="! product.supplierProduct" class="money form-control mx-auto col-md-6  text-right ${ product.supplierProduct ? '' : 'disabled' } " autocomplete="off" value.bind="product.supplierProduct.price | money" money placeholder="000,00" />                           
                  </td> 
                  <td class="align-middle  ${ $index > 0 ? 'border-0' : ''}"><div class="fa-2x text-center mx-auto" if.bind="product.isLoading" >
                           <i class="fa fa-refresh fa-spin"></i>
                        </div> 
                        <button  if.bind="! product.supplierProduct && ! product.isLoading"    type="button" class="btn btn-primary btn-sm waves-effect waves-light" click.trigger="includeProduct(product)">Incluir</button>
                        <button  if.bind="product.supplierProduct && ! product.isLoading"      type="button" class="btn btn-success btn-sm waves-effect waves-light" click.trigger="saveProduct(product)">Salvar</button>
                        <button  if.bind="product.supplierProduct && ! product.isLoading"      type="button" class="btn  btn-secondary  btn-sm waves-effect waves-light" click.trigger="product.supplierProduct = null">Cancelar</button>
                  </td>   
               </tr>
            </tbody>
         </table>
         <div class="row mt-2 mb-4">
               <button type="button" class="btn btn-primary mx-auto waves-effect waves-light" if.bind="alteredProducts.length > 0 && ! isLoading" click.trigger="saveAll()">  Salvar  </button>                                                       
               <div class="fa-2x text-center mx-auto" if.bind="! isLoaded && selectedClass != null" >
                  <i class="fa fa-refresh fa-spin"></i>
               </div> 
         </div>
      </div>
   </div>
</template>