<template>
   <div class="row">
      <div class="col-lg-4">
         <div class="form-group">
            <label class="control-label">Mercado</label>
            <select class="form-control"  value.bind="selectedClass" change.delegate="marketChanged()"> 
               <option  repeat.for="class of classes" model.bind="class">${class.name}</option>
            </select>
         </div>
      </div>
      <div class="col-lg-4">
         <div class="form-group">
            <label class="control-label">Categoria</label>
            <select class="form-control"  value.bind="selectedCategory" change.delegate="search()">
               <option  value="-1">Todos</option>
               <option  repeat.for="category of selectedClass.categories" model.bind="category">${category.name}</option>
            </select>
         </div>
      </div>
      <div class="col-lg-4">
         <div class="form-group">
            <label class="control-label">Filtro</label> 
            <input type="text" class="form-control "  value.bind="filter"  placeholder="Pesquise por Produto / Descrição"  change.trigger="search()"/>
         </div>
      </div>
   </div>
   <div class="fa-2x text-center" if.bind="isLoading">
         <i class="fa fa-refresh fa-spin"></i>
   </div> 
   <div class="row" if.bind="! isLoading">
      <div class="col-md-12 pb-5"> 
         <table class="table table-hover">
            <thead>
               <tr>
                  <th>Nome</th>
                  <th>Marca</th> 
                  <th>Descrição</th>
                  <th>Categoria</th>
                  <th>UM</th> 
                  <th></th>
               </tr>
            </thead>
            <tbody repeat.for="base of filteredProducts" if.bind="base.products.length > 0">
               <tr repeat.for="product of base.products">
                  <td class="align-middle ${ $index > 0 ? 'border-0' : ''}">
                     <span if.bind="$index == 0">${base.name}</span> 
                  </td> 
                  <td class="${ $index > 0 ? 'border-0' : ''}">${product.brand.name}</td> 
                  <td class="${ $index > 0 ? 'border-0' : ''}">${product.description}</td>
                  <td class="${ $index > 0 ? 'border-0' : ''}">
                     <span if.bind="selectedClass == -1">${base.category.productClass.name} / </span>
                     ${base.category.name}
                  </td>
                  <td class="${ $index > 0 ? 'border-0' : ''}">
                     ${product.unit.name}
                     <span if.bind="product.unitInternal != null"> com ${product.multiplier} ${product.unitInternal.name}(s)</span>
                  </td> 
                  <td class="${ $index > 0 ? 'border-0' : ''}">
                        <button if.bind="! product.isLoading" type="button" class="btn btn-primary btn-sm waves-effect waves-light ${ isProcessing ? 'disable' : ''  && ! product.isLoading }" disabled.bind="isProcessing" click.trigger="addProduct(product, base)">Incluir</button>
                        <div class="fa-2x " if.bind="product.isLoading  == true">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div> 
                  </td> 
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</template>