<template>
    <require from="../components/partials/accountStatusCard"></require>

    <div class="row mb-5 au-animate">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-7 order-md-2 signin-right-column px-5 ">
                        <a class="signin-logo d-sm-none d-md-block" style="cursor:default">
                            <img class="ml-1" src="assets/img/logo2T.png" width="150" height="150" alt="Econocompras">
                        </a>
                        <h1 class="display-6">Econocompras</h1>
                        <p class="lead mb-5">
                            Olá, seja bem-vindo
                        </p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-5">
            <account-status-card></account-status-card>
        </div>
    </div>
</template>