<template>
    <div class="row mb-5 au-animate">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body"> 
                    <div class="col-md-7 order-md-2 signin-right-column px-5 ">
                        <a class="signin-logo d-sm-none d-md-block">
                            <img class="ml-5" src="assets/img/logo2T.png" style="cursor:default" width="150" height="92" alt="CSZ">
                        </a>
                        <h1 class="display-6">CSZ Compras Inteligentes</h1>
                        <p class="lead mb-5">
                            Olá, seja bem-vindo
                        </p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>