<template>
        <require from="../components/attributes/cnpjMask"></require>
        <require from="../components/attributes/phoneWithDDDMask"></require>
        <div class="row mb-5 task-manager">
           <div class="col-lg-12">
              <div class="card">
                 <div class="card-header">
                    ${title}
                    <div class="header-btn-block">                            
                       <span class="data-range dropdown show">                           
                          <a href="#" class="btn btn-primary dropdown-toggle" id="navbar-dropdown-sales-overview-header-button" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="true"><i class="batch-icon batch-icon-search-alt"></i></a>
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-sales-overview-header-button" x-placement="bottom-end" style="position: absolute; transform: translate3d(-191px, 30px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a class="dropdown-item" href="#" click.trigger="alterView(1)">Sugeridos</a> 
                                <a class="dropdown-item" href="#" click.trigger="alterView(2)">Meus fornecedores</a> 
                                <a class="dropdown-item" href="#"  click.trigger="alterView(3)">Todos</a> 
                            </div>
                       </span>
                    </div>
                 </div>
                 <div class="card-body">
                    <form>
                       <div class="form-row align-items-center"> 
                          <div class="col-lg-3">
                             <label for="input-task-title" class="active">Nome do fornecedor <span class="required-item">*</span></label>
                             <input type="text" class="form-control input-task-title" id="input-task-title" placeholder="nome..."   change.trigger="search()"   value.bind="filter" />
                          </div>
                          <div class="col-lg-3 ml-4 mt-3">
                             <button type="button" class="btn btn-primary btn-gradient assign-task waves-effect waves-light"><span class="gradient">Pesquisar</span></button>
                          </div>
                       </div>
                    </form>
                 </div>
                 <div class="card-body">
                    <table class="table table-hover">
                       <thead>
                          <tr>
                             <th>Nome</th>
                             <th>Situação Cadastral</th>
                             <th>Contato</th>
                             <th>E-mail</th>
                             <th>Telefone</th>
                             <th>CNPJ</th>
                             <th></th>
                          </tr>
                       </thead>
                       <tbody>
                          <tr repeat.for="x of filteredSuppliers">
                             <td>${x.supplier.name}</td>
                             <td>
                                <span class="badge badge-primary" if.bind="x.status == 0">Não cadastrado</span>
                                <span class="badge badge-warning" if.bind="x.status == 1">Cadastro enviado</span>
                                <span class="badge badge-success" if.bind="x.status == 2">Disponível</span>
                                <span class="badge badge-danger" if.bind="x.status == 3">Cadastro Rejeitado</span>
                                <span class="badge badge-warning" if.bind="x.status == 5">Aguardando aprovação</span>
                                <span class="badge badge-danger" if.bind="x.status == 4">Bloqueado</span>
                             </td>
                             <td>${x.supplier.contact.name}</td>
                             <td>${x.supplier.contact.email}</td>
                             <td phone-with-ddd>${x.supplier.contact.phone}</td>
                             <td cnpj>${x.supplier.cnpj}</td>
                             <td>
                                <button type="button" class="btn btn-primary btn-sm waves-effect waves-light"  if.bind="x.status == 0" click.trigger="connect(x)">Conectar</button>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </template>