<template> 
    <div class="row mb-5 task-manager au-animate" if.bind="! showDetails">
       <div class="col-lg-12">
          <div class="card">
             <div class="card-header">
                Guia Rápido
             </div>
             <div class="card-body">  
                <p class="display-6">
                    Acesse os menus abaixo para esclarecer dúvidas de como utilizar a plataforma da Econocompras
                <p>
                    
                    <ul class="nav nav-pills flex-column mt-5"> 
                        <li class="nav-item">
                            <a class="nav-link" href="${prefix}/#/econocompras/guiaRapidoFoodServiceCadastro">
                                <i class="batch-icon batch-icon-list-alt"></i> Cadastro
                            </a>
                        </li>  
                        <li class="nav-item mt-3">
                            <a class="nav-link" href="${prefix}/#/econocompras/guiaRapidoFoodServiceRegrasDeEntrega">
                                <i class="batch-icon batch-icon-grid"></i> Regras de entrega
                            </a>
                        </li>
                        <li class="nav-item mt-3">
                            <a class="nav-link" href="${prefix}/#/econocompras/guiaRapidoFoodServiceFornecedores">
                                <i class="batch-icon batch-icon-users"></i> Fornecedores
                            </a>
                        </li> 
                        <li class="nav-item mt-3">
                            <a class="nav-link" href="${prefix}/#/econocompras/guiaRapidoFoodServiceProdutos">
                                <i class="batch-icon batch-icon-layout-center-column"></i> Produtos
                            </a>
                        </li>
                        <li class="nav-item mt-3">
                            <a class="nav-link " href="${prefix}/#/econocompras/guiaRapidoFoodServiceCotacao">
                                <i class="batch-icon batch-icon-layout-center-column"></i> Cotação
                            </a>
                        </li>  
                        <li class="nav-item mt-3">
                            <a class="nav-link " href="${prefix}/#/econocompras/guiaRapidoFoodServicePedidos">
                                <i class="batch-icon batch-icon-layout-center-column"></i> Pedidos
                            </a>
                        </li>  
                        <li class="nav-item mt-3">
                            <a class="nav-link" href="${prefix}/#/econocompras/guiaRapidoFoodServiceAvaliacoes">
                                <i class="batch-icon batch-icon-star "></i> Avaliações
                            </a>
                        </li>
                    </ul>

             </div>
          </div>
       </div>
    </div> 
 </template>